<div class="tabs tab-nav tabs-icon tabs-background-positive tabs-color-light" style="background-color: rgba(41, 128, 185, 0.88)";>
    <a class="tab-item todo-tab-item-active" ui-sref="hey.timeline" nav-direction="enter">
        <i class="icon ion-home" style=""></i>
    </a>

    <a class="tab-item" ui-sref="hey.topic" nav-direction="enter">
        <i class="icon ion-quote" style=""></i>
    </a>
    <a class="tab-item" ui-sref="hey.user" nav-direction="enter">
        <i class="icon ion-person" style=""></i>
    </a>
</div>
