<ion-view view-title="{{ appSiteTitle }}">
    <ion-content id="module-timeline" delegate-handle="agendaScrollDelegate">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <div ng-repeat="item in timelines" class="list">
            <div class="item item-header item-divider" ion-affix>
                <div class="pull-left">
                    <img ng-if="false" ng-src="{{ getPicUrl(item.author.avatar) }}">
                    <img ng-src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-simple-512.png">
                </div>
                <div class="pull-left">
                    <div class="name">{{ item.author.nickname }}</div>
                    <div class="date">{{ item.created_at }}</div>
                </div>
            </div>

            <div class="item item-body item-text-wrap">
                <img ng-if="item.attachment" ng-src="{{ getPicUrl(item.attachment) }}">
                <div class="content">{{ item.content }}</div>
            </div>

            <div class="item item-footer" style="color:#ddd">
                <div class="btns pull-right">
                    <a ng-if="false" class="icon ion-ios-heart"></a>
                    <a ng-if="true" class="icon ion-ios-heart-outline"></a>

                    <a class="icon ion-more"></a>
                </div>
                <div>
                    {{ item.id }}人喜欢
                </div>
            </div>
        </div>

        <div ng-if="timelines && timelines.length == 0" class="padding text-center">
            No data
        </div>

        <ion-infinite-scroll
            on-infinite="loadMore()"
            immediate-check="false"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
