<ion-view view-title="我的新动态">
  <ion-content id="module-plus" delegate-handle="agendaScrollDelegate">

    <div class="list">
      <label ng-if="false" class="item item-input item-floating-label">
        <span class="input-label">标题</span>
        <input type="text" placeholder="标题">
      </label>

      <div class="item" style="border-bottom:none;">
          <button ng-click="addPic()" class="button button-stable button-block button-small">添加图片</button>
          <div>
              <img style="width:100%" ng-src="{{ pic }}">
          </div>
      </div>

      <label class="item item-input item-floating-label" style="border-top:none;">
        <span class="input-label">描述</span>
        <textarea rows="3" placeholder="请添加描述"></textarea>
      </label>

      <div class="hide">
        <input type="file" id="file" onchange="angular.element(this).scope().setPic(this.files)">
      </div>

      <div class="item" style="border-bottom:none;">
          <button class="button button-positive button-block">发布</button>
      </div>
    </div>
  </ion-content>
</ion-view>
