
<ion-tabs class="tabs-icon tabs-background-positive tabs-color-light {{$root.hideTabs}}">

  <!-- Timeline Tab -->
  <ion-tab title="Timeline" icon-off="ion-home" icon-on="ion-home" href="#/timeline">
    <ion-nav-view name="tab-timeline"></ion-nav-view>
  </ion-tab>

  <!-- Topic Tab -->
  <ion-tab title="Topic" icon-off="ion-quote" icon-on="ion-quote" href="#/topic">
    <ion-nav-view name="tab-topic"></ion-nav-view>
  </ion-tab>

  <!-- User Tab -->
  <ion-tab class="" badge="badgeNum" badge-style="badge-assertive" title="User" icon-off="ion-person" icon-on="ion-person" href="#/user">
    <ion-nav-view name="tab-user"></ion-nav-view>
  </ion-tab>

  <!-- Activity Tab -->
  <ion-tab class="hide" title="Activity" icon-off="ion-calendar" icon-on="ion-calendar" href="#/activity">
    <ion-nav-view name="tab-activity"></ion-nav-view>
  </ion-tab>

  <!-- Talk Tab -->
  <ion-tab class="hide" title="Talk" icon-off="ion-chatboxes" icon-on="ion-chatboxes" href="#/talk">
    <ion-nav-view name="tab-talk"></ion-nav-view>
  </ion-tab>



  <!-- Group Tab -->
  <ion-tab class="hide" title="Group" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/group">
    <ion-nav-view name="tab-group"></ion-nav-view>
  </ion-tab>

  <!-- Create Tab -->
  <ion-tab class="hide" title="Plus" icon-off="ion-plus-circled" icon-on="ion-plus-circled" href="#/plus">
    <ion-nav-view name="tab-plus"></ion-nav-view>
  </ion-tab>

  <!-- Ajustes Tab -->
  <ion-tab class="hide" title="Ajustes" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
