
<ion-tabs class="tabs-icon tabs-background-positive tabs-color-light">

  <!-- Agenda Tab -->
  <ion-tab title="Agenda" icon-off="ion-calendar" icon-on="ion-calendar" href="#/tab/agenda">
    <ion-nav-view name="tab-agenda"></ion-nav-view>
  </ion-tab>

  <!-- Fotos Tab -->
  <ion-tab title="Fotos" icon-off="ion-images" icon-on="ion-images" href="#/tab/fotos">
    <ion-nav-view name="tab-fotos"></ion-nav-view>
  </ion-tab>

  <!-- Favoritos Tab -->
  <ion-tab title="Favoritos" icon-off="ion-heart" icon-on="ion-heart" href="#/tab/favoritos">
    <ion-nav-view name="tab-favoritos"></ion-nav-view>
  </ion-tab>

  <!-- Ajustes Tab -->
  <ion-tab title="Ajustes" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
