
<ion-tabs class="tabs-icon tabs-background-positive tabs-color-light">

  <!-- Timeline Tab -->
  <ion-tab title="Timeline" icon-off="ion-home" icon-on="ion-home" href="#/tab/timeline">
    <ion-nav-view name="tab-timeline"></ion-nav-view>
  </ion-tab>

  <!-- Activity Tab -->
  <ion-tab title="Activity" icon-off="ion-calendar" icon-on="ion-calendar" href="#/tab/activity">
    <ion-nav-view name="tab-activity"></ion-nav-view>
  </ion-tab>

  <!-- Group Tab -->
  <ion-tab title="Group" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/group">
    <ion-nav-view name="tab-group"></ion-nav-view>
  </ion-tab>

  <!-- Ajustes Tab -->
  <ion-tab title="Ajustes" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
