/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import
"www/lib/ionic/scss/ionic",
"www/lib/ionic-filter-bar/scss/ionic.filter.bar",
"www/lib/ion-gallery/src/scss/ion-gallery";



// modules
@import
"components/components",

"modules/timeline",
"modules/activity",
"modules/topic",
"modules/user";



// 
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}

@media (min-width: 1025px) {
    body {
        margin: 0 auto;
    }

    ion-header-bar, ion-tabs, .bottom-tabs, .tab-nav, ion-view {
         margin: 0 auto;
         max-width: 500px;
    }
}

