<div class="splash">
    <!--<button (click)="goTabPage()">go tab</button>-->
    <ng-template [ngIf]="ifFirst">
        <h1 class="logo">
            <img src="assets/images/logo.png" alt="logo" />
        </h1>

        <ion-row class="btn-group">
            <ion-col col-6>
                <button ion-button block color="default" (click)="goRegister()">注册</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button block color="light" (click)="goLogin()">登录</button>
            </ion-col>
        </ion-row>
    </ng-template>

    <ng-template [ngIf]="ifLogin">
        <div class="login-main">
            <ion-card>
                <ion-card-content>
                    <ion-input type="tel" placeholder="手机号"></ion-input>
                    <ion-input type="password" placeholder="密码" *ngIf="!LoginByCode"></ion-input>
                    <div class="login-code" *ngIf="LoginByCode">
                        <ion-input type="text" placeholder="输入验证码"></ion-input>
                        <button ion-button color="default">获取验证码</button>
                    </div>
                    
                </ion-card-content>
            </ion-card>
            <div class="login-block">
                <button ion-button block color="default" class="login-btn" (click)="goTabPage()">登录</button>
            </div>

            <ion-row class="login-control">
                <ion-col col-6>
                    <button *ngIf="!LoginByCode" (click)="loginByCode()">短信验证码登陆</button>
                    <button *ngIf="LoginByCode" (click)="loginByPsd()">密码登陆</button>
                </ion-col>
                <ion-col col-6>
                    <button (click)="goRegister()">没有集+账号？ 注册</button>
                </ion-col>
            </ion-row>
        </div>
            
        
    </ng-template>



    <ng-template [ngIf]="ifRegister">
        <div class="login-main">
            <ion-card>
                <ion-card-content>
                    <ion-input type="tel" placeholder="手机号"></ion-input>
                    <div class="login-code" >
                        <ion-input type="text" placeholder="输入验证码"></ion-input>
                        <button ion-button color="default">获取验证码</button>
                    </div>
                    
                </ion-card-content>
            </ion-card>
            <div class="login-block">
                <button ion-button block color="default" class="login-btn" (click)="goRegisterend()">注册 </button>
            </div>

            <p class="register-tips" (click)="goLogin()">
                已有集+账号？ 登陆
            </p>
        </div>
            
        
    </ng-template>


     <ng-template [ngIf]="ifRegisterEnd">
        <div class="login-main">
            <ion-card>
                <ion-card-content>
                    <ion-input type="tel" placeholder="姓名"></ion-input>
                    <ion-input type="text" placeholder="密码"></ion-input>
                </ion-card-content>
            </ion-card>
            <div class="login-block">
                <button ion-button block color="default" class="login-btn" (click)="registerEnd()">完成</button>
            </div>
        </div>
            
        
    </ng-template>
        
        

    

</div>
