[submodule "CommonModule"]
	path = src/modules/common
	url = https://github.com/dev4living/HeyCommunity-fem-common.git
	branch = dev-master
[submodule "UserModule"]
	path = src/modules/user
	url = https://github.com/dev4living/HeyCommunity-fem-user.git
	branch = dev-master
[submodule "TimelineModule"]
	path = src/modules/timeline
	url = https://github.com/dev4living/HeyCommunity-fem-timeline.git
	branch = dev-master
[submodule "TopicModule"]
	path = src/modules/topic
	url = https://github.com/dev4living/HeyCommunity-fem-topic.git
	branch = dev-master
