<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Timeline</ion-title>

    <ion-buttons end>
      <button (click)="gotoTimelineCreatePage()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="timeline">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let item of timelineService.timelines; let i = index">
    <ion-item class="header">
      <ion-avatar item-left>
        <img class="avatar" src="{{ item.author.avatar }}">
      </ion-avatar>
      <h2>
        <span class="date pull-right">{{ item.created_at | moment: ['MM-DD HH:mm'] }}</span>
        {{ item.author.nickname }}
      </h2>
      <p>{{ item.bio ? item.bio : 'no bio' }}</p>
    </ion-item>

    <div class="" *ngIf="item.imgs">
      <img *ngFor="let img of item.imgs" class="photo" src="{{ helper.getImg(img.uri) }}">
    </div>
    <hr>

    <ion-card-content (click)="gotoTimelineDetailPage(i)">
      <div class="content" *ngIf="item.content">{{ item.content }}</div>
    </ion-card-content>

    <ion-row class="footer">
      <ion-col>
        <button primary clear small (click)="setLikeForTimeline(item)">
          <ion-icon name="{{ item.is_like ? 'heart' : 'heart-outline' }}"></ion-icon>
          <div>{{ item.like_num }} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button primary clear small (click)="gotoTimelineDetailPage(i)">
          <ion-icon name="text"></ion-icon>
          <div>{{ item.comment_num }} Comments</div>
        </button>
      </ion-col>
      <ion-col width-50 center class="date">
        <ion-note>
          {{ item.created_at | timeago }}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
