//
// timeline
// ----------------------------------------
.timeline {
  background-color: #eee;

  ion-card {
    width: 100%;
    margin: 0 0 12px 0;

    hr {
      margin: 0;
    }

    .content {
      color: $textColorPrimary;
    }

    img.avatar {
      min-height: 36px;
      min-width: 36px;
      background-color: #ddd;
    }

    img.phtot {
      width: 100%;
      background-color: #ddd;
    }
  }
}



//
// timeline-detail
// ---------------------------------------
.timeline-detail {
  .section-comment {
    background-color: #eee;
    color: $textColorPrimary;

    //
    .avatar {
      position: absolute;
      border-radius: 50%;
      background-color: #ddd;
      width: 30px;
      height: 30px;
    }

    //
    .comments {

      .comment-content {
        margin-left: 40px;
        margin-bottom: 16px;
        border-bottom: 1px solid #fff;
        padding-bottom: 16px;

        .header {
          line-height: 20px;

          a {
            font-size: 16px;
          }

          span {
            float: right;
            color: #999;
          }
        }
      }

      //
      &:last-of-type .comment-content {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }


  //
  //
  .section-comment-inputbox {
    position: relative;
    .input-comment {
       padding: 0 64px 0 6px;

       input {
         border-radius: 4px;
         background-color: #ddd;
         padding: 6px 10px;
         margin: 6px 8px 4px 0;
       }
    }

    .btn-send {
      position: absolute;
      right: 6px;
      top: 3px;
      width: 56px;
    }
  }
}



//
// timeline-create
// ---------------------------------------
.timeline-create {
  //
  #section-textarea {
    margin-bottom: 0;

    //
    ion-item {
      padding-left: 0;
    }

    //
    textarea {
      padding-left: 16px;
    }
  }


  //
  .media-toolbar {
    margin-bottom: -7px;
  }
}

