<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Timeline</ion-title>

    <ion-buttons end>
      <button (click)="gotoTimelineCreatePage()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="timeline">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let item of timelines">
    <ion-item>
      <ion-avatar item-left>
        <img class="avatar" src="{{ item.attachment }}">
      </ion-avatar>
      <h2>{{ item.author.nickname }}</h2>
      <p>{{ item.created_at }}</p>
    </ion-item>

    <img class="photo" *ngIf="item.attachment" src="{{ item.attachment }}">
    <hr>

    <ion-card-content (click)="gotoTimelineDetailPage(item)">
      <div class="content" *ngIf="item.content">{{ item.content }}</div>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button primary clear small (click)="setLikeTimeline(item)">
          <ion-icon *ngIf="false" name="heart"></ion-icon>
          <ion-icon name="heart-outline"></ion-icon>
          <div>{{ item.like_num }} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button primary clear small (click)="gotoTimelineDetailPage(item)">
          <ion-icon name="text"></ion-icon>
          <div>{{ item.comment_num }} Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          {{ item.created_at | timeago }}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
