<ion-header>
  <ion-navbar>
    <ion-title>Timeline Detail</ion-title>

    <ion-buttons end>
      <button (click)="showActionSheet()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="timeline-detail">
  <img *ngIf="timeline.attachment" src="{{ timeline.attachment }}">
  <div padding *ngIf="!timeline.content">{{ timeline.content }}</div>

  <div padding class="section-comment">
    <div class="comments" *ngFor="let item of [1,2,3,4,5]">
      <img class="avatar" src="http://demo.hey-community.local/assets/images/userAvatar-default.png">
      <div class="comment-content">
        <div class="header">
          <a>{{ timeline.author.nickname }}</a>
          <span>{{ timeline.created_at }}</span>
        </div>
        {{ timeline.content }}
      </div>
    </div>
  </div>
</ion-content>
