//
// timeline
// ----------------------------------------
.timeline {
  background-color: #eee;

  ion-card {
    width: 100%;
    margin: 0 0 12px 0;

    .header {
      .date {
        font-size: 14px;
        color: #bbb;
      }
    }

    hr {
      margin: 0;
    }

    .content {
      color: $textColorPrimary;
    }

    img.avatar {
      min-height: 36px;
      min-width: 36px;
      background-color: #ddd;
    }

    img.photo {
      width: 100%;
      background-color: #ddd;
    }

    .footer .date {
      text-align: right;
      padding-right: 13px;

      ion-note {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: hidden;
      }
    }

    .comments {
      border-top: 1px solid #ddd;
      margin: 6px 0 4px;

      .item-comment {
        color: #666 !important;
        padding: 0 16px 0 0;
        margin-left: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 30px;
        font-size: 14px;
        color: $textColorPrimary;
        border-bottom: 1px solid #eee;

        &:last-of-type {
          border-bottom: none;
        }

        &:nth-of-type(3) {
          border-bottom: none;
        }

        .author {
           font-weight: 500;
        }

      }


      iion-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 20px;
        line-height: 20px;

        .input-wrapper {
        height: 20px;
        line-height: 20px;

        }
        ion-label {
          margin-top: 4px;
          margin-bottom: 4px;
        }

        .author {
           font-weight: bold;
        }

        font-size: 14px;
        color: $textColorPrimary;
      }
    }
  }
}



//
// timeline-detail
// ---------------------------------------
.timeline-detail {
  .section-comment {
    background-color: #eee;
    color: $textColorPrimary;

    //
    .avatar {
      position: absolute;
      border-radius: 50%;
      background-color: #ddd;
      width: 30px;
      height: 30px;
    }

    //
    .item-comment {

      .comment-content {
        margin-left: 40px;
        margin-bottom: 16px;
        border-bottom: 1px solid #fff;
        padding-bottom: 16px;

        .header {
          line-height: 20px;

          a {
            font-size: 16px;
          }

          span {
            float: right;
            color: #999;
          }
        }
      }

      //
      &:last-of-type .comment-content {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }


  //
  //
  .section-comment-inputbox {
    position: relative;
    .input-comment {
       padding: 0 64px 0 6px;

       input {
         border-radius: 4px;
         background-color: #ddd;
         padding: 6px 10px;
         margin: 6px 8px 4px 0;
       }
    }

    .btn-send {
      position: absolute;
      right: 6px;
      top: 3px;
      width: 56px;
    }
  }
}



//
// timeline-create
// ---------------------------------------
.timeline-create {
  //
  #section-textarea {
    margin-bottom: 0;

    //
    ion-item {
      padding-left: 0;
    }

    //
    textarea {
      padding-left: 16px;
    }
  }


  //
  //
  .preview-imgs {
    img {
      padding-bottom: 6px;
      padding-left: 6px;
      display: inline-block;
      width: 60px;
      height: 60px;
    }
  }


  //
  .media-toolbar {
    margin-bottom: -7px;
  }
}

