<ion-header class="">
  <ion-navbar>
    <ion-title>
      收藏集
    </ion-title>

    <ion-buttons end>
      <button ion-button clear>
        邀请
      </button>
      <button ion-button icon-only (click)="gotoCollectEditPage()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="/assets/images/moment-1.jpg">
  <div padding-bottom margin-bottom id="section-collect-info" class="text-center">
    <div padding class="avatar">
      <img src="{{ collect.author.avatar }}">
    </div>

    <div padding class="avatars">
      <ion-avatar (click)="gotoCollectMemberPage()">
        <img src="assets/images/people-1.jpeg">
        <img src="assets/images/people-2.jpeg">
        <img src="assets/images/people-3.jpeg">
        <img src="assets/images/people-3.jpeg">
        <img src="assets/images/people-4.jpeg">
      </ion-avatar>
    </div>

    <div class="nickname">{{ collect.author.nickname }}</div>
    <h2 class="collect-name">{{ collect.name }}</h2>
    <span class="description">{{ collect.description }}</span>
    <div class="footer">
      <span>关注 {{ collect.follow_num }}</span>
      <strong>|</strong>
      <span>收藏 {{ collect.follow_num }}</span>
      <strong>|</strong>
      <span>封闭</span>
    </div>
  </div>

  <div>
    <ion-card *ngFor="let timeline of timelineService.timelines; let i=index" class="timeline-card">
      <ion-item class="header">
        <ion-avatar item-left>
          <img class="avatar" src="{{ heyApp.helper.getImg(timeline.author?.avatar) }}?imageView/2/w/100">
        </ion-avatar>
        <h2>
          <span right class="date pull-right">
            <ion-icon name="ios-arrow-down"></ion-icon>
          </span>
          <span class="author">
            {{ timeline.author?.nickname }}
          </span>
        </h2>
        <p>{{ timeline.created_at | timeago }}</p>
      </ion-item>

      <ion-card-content>
        <div class="content" [innerHtml]="timeline.content | nl2br"></div>
      </ion-card-content>

      <div class="img" *ngIf="timeline.imgs.length === 1">
        <img src="{{ heyApp.helper.getImg(timeline.imgs[0].uri) }}?imageView/2/w/800">
      </div>

      <div class="img img-muilt" [ngClass]="{'img-odd': (timeline.imgs.length % 2)}" *ngIf="timeline.imgs.length > 1">
        <div *ngFor="let img of timeline.imgs; let i = index" [ngStyle]="{'background-image': 'url(' + heyApp.helper.getImg(img.uri) + ')'}"></div>
        <span class="clear-float"></span>
      </div>

      <div *ngIf="timeline.video">
        <video width="100%" preload="none" (click)="videoPlay($event)" poster="{{ heyApp.helper.getImg(timeline.poster) }}" src="{{ heyApp.helper.getVideo(timeline.video) }}"></video>
      </div>

      <ion-row class="footer">
        <ion-col>
          <button ion-button icon-only color="grey" clear small (click)="setLikeForTimeline(timeline)">
            <ion-icon color="danger" name="{{ timeline.is_like ? 'heart' : 'heart-outline' }}"></ion-icon>
          </button>
          <button ion-button icon-only color="grey" clear small>
            <ion-icon name="text"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <div *ngIf="timeline.comment_num" class="comments">
          <div *ngFor="let comment of timeline.comments; let i=index;">
            <div class="item-comment" *ngIf="i < 3">
              <span class="author">{{ comment.author?.nickname }}</span>:
              <span *ngIf="comment.parent_id">
                @{{ comment.parent.author.nickname }}:
              </span>
              {{ comment.content }}
            </div>
          </div>
      </div>
    </ion-card>

    <ion-list padding-top class="bar-create">
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/images/userAvatar-default.png">
        </ion-avatar>
        <h2>珍藏这一刻 ...</h2>
        <div class="btn-camera" item-right (click)="gotCreatPage()">
          <ion-icon name="camera"></ion-icon>
        </div>
      </ion-item>
    </ion-list>

    <ion-card style="margin:0; padding:0; width:100%;" class="bar-create">
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/images/userAvatar-default.png">
        </ion-avatar>
        <h2>Marty McFly</h2>
        <p>November 5, 1955</p>
        <ion-icon name="arrow-dropdown" item-right></ion-icon>
      </ion-item>

      <img src="assets/images/moment-1.jpg">

      <ion-card-content class="content">
        <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            11h ago
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
