page-collect {
  ion-content {
    .bar-create {
      ion-item {
        background-color: #fff;
      }
      .content {
        margin-top: -100px;
        background-color:#000000;
        background-color:rgba(0,0,0,0.5);
      }
      .btn-camera {
        background-color: #ddd;
        border-radius: 50%;
        width: 2em;;
        height: 2em;
        text-align: center;

        ion-icon {
          padding-top: 0.25em;
        }
      }
    }
    #section-collect-info {
      background-color: #fff;
      position: relative;

      .avatar {
        width: 100%;
        text-align: center;
        position: absolute;
        margin-top: -45px;

        img {
          padding: 10px;
          background-color: #ddd;
          border-radius: 50%;
          width: 60px;
        }
      }

      .avatars {
        position: absolute;
        right: 0;
        img {
          display: inline-block;
          background-color: #ddd;
          border-radius: 50%;
          width: 20px;
          position: absolute;

          &:nth-last-of-type(1) {
            right: 0px;
            z-index: 1001;
          }

          &:nth-last-of-type(2) {
            right: 15px;
            z-index: 1001;
          }

          &:nth-last-of-type(3) {
            right: 30px;
            z-index: 1002;
          }

          &:nth-last-of-type(4) {
            right: 45px;
            z-index: 1003;
          }

          &:nth-last-of-type(5) {
            right: 60px;
            z-index: 1004;
          }

          &:nth-last-of-type(6) {
            right: 75px;
            z-index: 1005;
          }

          &:nth-last-of-type(7) {
            right: 90px;
            z-index: 1006;
          }

          &:nth-last-of-type(8) {
            right: 105px;
            z-index: 1007;
          }
        }
      }

      .nickname {
        padding-top: 40px;
        font-size: 16px;
      }

      .collect-name {
        margin: 6px 0 10px;
      }

      .footer {
        margin-top: 10px;
        color: #888;
        font-weight: 600;

        span {
          font-weight: 600;
          display: inline-block;
          padding: 0 1em;
        }
      }
    }

    .timeline-card {
      background-color: #fff;
      margin: 0 0 12px 0;
      width: 100%;

      .header {
        background-color: #fff;

        .date {
          font-size: 14px;
          color: #999;
        }

        .author {
           display: inline-block;
           overflow: hidden;
           width: 8em;
        }
      }

      .img {
        padding-bottom: 10px;
      }

      .img-muilt {
        div {
          width: 50%;
          height: 120px !important;
          float: left;
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
          border: 1px solid #f9f9f9;
          background-color: #000;

          &:nth-of-type(1), &:nth-of-type(3), &:nth-of-type(5) {
            border-left: none;
          }

          &:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(6) {
            border-right: none;
          }
        }

        .clear-float {
          display: block;
          clear: both;
        }

        &.img-odd div:last-of-type {
          width: 100% !important;
          height: 140px !important;
          border-right: none !important;
          border-left: none !important;
          border-bottom: none !important;
        }
      }

      hr {
        margin: 0;
      }

      .card-content {
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .content {
        color: $text-color;
        word-break: break-all;
      }

      img.avatar {
        min-height: 36px;
        min-width: 36px;
        background-color: #ddd;
      }

      img.photo {
        width: 100%;
        background-color: #ddd;
      }

      .footer {
        margin-bottom: 4px;

        ion-col {
          padding-top: 0;
          padding-bottom: 0;

          button {
            margin-top: 0;
            margin-bottom: 0;

            ion-icon {
              font-size: 1.8em;
            }
          }
        }

        .date {
          text-align: right;
          padding-right: 13px;

          ion-note {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: hidden;
            color: #999;
          }
        }
      }

      .comments {
        border-top: 1px solid #ddd;
        margin: 6px 0 4px;

        .item-comment {
          color: #666 !important;
          padding: 0 16px 0 0;
          margin-left: 16px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 30px;
          height: 30px;
          font-size: 14px;
          color: $text-color;
          border-bottom: 1px solid #eee;

          &:last-of-type {
            border-bottom: none;
          }

          &:nth-of-type(3) {
            border-bottom: none;
          }

          .author {
            font-weight: 500;
          }
        }


        iion-item {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 20px;
          line-height: 20px;

          .input-wrapper {
          height: 20px;
          line-height: 20px;

          }
          ion-label {
            margin-top: 4px;
            margin-bottom: 4px;
          }

          .author {
             font-weight: bold;
          }

          font-size: 14px;
          color: $text-color;
        }
      }
    }

  }
}
