//
//
// ------------------------------------
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}



//
//
// ------------------------------------
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}
