<ion-view class="has-tabs" view-title="{{ 'USER_CENTER' | translate }}" cache-view="false" hide-back-button="true">
    <ion-content id="module-user" class="page-user">
        <div ng-if="!utility.isAuth()" class="padding">
            <div class="text-center h4">{{ appSiteTitle }}</div>

            <p></p>
            <p>
                Welcome to {{ appSiteTitle }},
                Here you can share the good things you find,
                initiate a topic to discuss with you.
            </p>

            <p>Best wishes your life more fun.</p>
        </div>

        <div ng-if="utility.isAuth()">
            <div class="padding"></div>

            <div class="list hey-list">
                <a class="item item-avatar item-icon-right" ui-sref="hey.user-info({id: userInfo.id})">
                    <img style="background-color:#ddd;" ng-src="{{ getPicUrl(userInfo.avatar + '?imageView/2/w/80') }}">
                    <h2>{{ userInfo.nickname }}</h2>
                    <p>UID: {{ userInfo.id}}</p>
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </div>

            <div class="padding"></div>

            <div class="list">
                <a class="item item-icon-left" ui-sref="hey.user-notice">
                    <i class="icon ion-ios-bell"></i>
                    {{ 'NOTICE' | translate }}
                    <span ng-if="badgeNum > 0" class="badge badge-assertive">{{ badgeNum }}</span>
                    <span ng-if="false && badgeNum === 0" class="badge badge-stable">{{ badgeNum }}</span>
                </a>
                <a class="item item-icon-left" ui-sref="hey.user-timeline({user_id: userInfo.id})">
                    <i class="icon ion-aperture"></i>
                    {{ 'TIMELINE' | translate }}
                    <span class="item-note">
                    </span>
                </a>
                <a class="item item-icon-left" ui-sref="hey.user-topic({user_id: userInfo.id})">
                    <i class="icon ion-quote"></i>
                    {{ 'TOPIC' | translate }}
                    <span class="item-note">
                    </span>
                </a>

                <a class="hide item item-icon-left" style="color:#999;">
                    <i class="icon ion-heart"></i>
                    {{ 'MY_ME_FOLLOW' | translate }}
                </a>
                <a class="hide item item-icon-left" style="color:#999;">
                    <i class="icon ion-person-stalker"></i>
                    {{ 'MY_FOLLOW_ME' | translate }}
                </a>
            </div>

            <div class="padding"></div>

            <div class="list">
                <a class="item item-icon-left" ui-sref="hey.user-setup">
                    <i class="icon ion-gear-a"></i>
                    {{ 'SETUP' | translate }}
                </a>
            </div>

            <div class="padding"></div>
        </div>
    </ion-content>

    <div ng-if="!utility.isAuth()" style="position:absolute; bottom:40px; width:100%" class="padding">
        <div class="">
            <a class="button button-block" ui-sref="hey.user-signIn">{{ 'SIGN_IN' | translate }}</a>
        </div>
        <div class="">
            <a class="button button-block" ui-sref="hey.user-signUp">{{ 'SIGN_UP' | translate }}</a>
        </div>
    </div>
</ion-view>

<div class="bottom-tabs" ng-include="'templates/tab-nav.html'"></div>
