<ion-view view-title="{{ 'USER_CENTER' | translate }}" cache-view="false">
    <ion-content id="module-user" class="page-user">
        <div ng-if="!isAuth()" class="padding text-center">
            <div class="" style="padding-top:60px;">
                <div class="hey-avatar text-center">
                    <img src="imgs/userAvatar-default.png">
                </div>
            </div>
            <div class="text-center">
                {{ 'PLEASE_SIGN_IN' | translate }}
            </div>

            <div class="row">
                <div class="col">
                    <a class="button button-block" ui-sref="hey.user-signUp">{{ 'SIGN_UP' | translate }}</a>
                </div>
                <div class="col">
                    <a class="button button-block button-positive" ui-sref="hey.user-signIn">{{ 'SIGN_IN' | translate }}</a>
                </div>
            </div>
        </div>

        <div ng-if="isAuth()">
            <div class="" style="padding-top:60px;">
                <div class="hey-avatar text-center">
                    <img ng-src="{{ getPicUrl(user.avatar + '?imageView/2/w/180') }}">
                </div>
                <div class="text-center">
                    {{ user.nickname }}
                </div>
            </div>

            <div class="padding"></div>

            <div class="list">
                <a class="item item-icon-left" ui-sref="hey.user-info">
                    <i class="icon ion-person"></i>
                    {{ 'MY_INFO' | translate }}
                </a>
                <a class="item item-icon-left">
                    <i class="icon ion-heart"></i>
                    {{ 'MY_ME_FOLLOW' | translate }}
                </a>
                <a class="item item-icon-left">
                    <i class="icon ion-person-stalker"></i>
                    {{ 'MY_FOLLOW_ME' | translate }}
                </a>
            </div>

            <div class="padding"></div>

            <div class="list">
                <a class="item item-icon-left" ui-sref="hey.user-setup">
                    <i class="icon ion-gear-a"></i>
                    {{ 'SETUP' | translate }}
                </a>
            </div>

            <div class="padding"></div>
        </div>

    </ion-content>
</ion-view>
