<ion-view view-title="{{'SETUP'| translate }}" cache-view="false">
    <ion-content id="module-user" class="page-user-setup">
        <div class="padding"></div>

        <div class="list">
            <a class="item item-icon-left">
                <i class="icon ion-navicon-round"></i>
                {{ 'GENERAL' | translate }}
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-locked"></i>
                {{ 'ACCOUNT_SECURITY' | translate }}
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-earth"></i>
                {{ 'PRIVACY' | translate }}
            </a>
        </div>

        <div class="padding"></div>

        <div class="list">
            <a class="item item-icon-left">
                <i class="icon ion-chatbox-working"></i>
                {{ 'FEEDBACK' | translate }}
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-information-circled"></i>
                {{ 'SOFT_INFO' | translate }}
            </a>
        </div>

        <div class="padding"></div>
        <div class="list">
            <a class="item item-icon-left" ui-sref="hey.user-signOut">
                <i class="icon ion-log-out"></i>
               {{ 'SIGN_OFF' | translate }}
            </a>
        </div>
    </ion-content>
</ion-view>
