<ion-view view-title="{{ 'User Info' }}" cache-view="false">
    <ion-content id="module-user" class="page-user-info">
        <div class="padding"></div>

        <div class="list hey-list">
            <a class="item item-avatar item-icon-right">
                <img ng-src="{{ getPicUrl(user.avatar) }}">
                <h2>{{ user.nickname }}</h2>
                <p>{{ 'This is motto' }}</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right">
                Phone
                <span class="item-note">
                    {{ user.phone }}
                </span>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right">
                Email
                <span class="item-note">
                    {{ user.email }}
                </span>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>

        <div class="padding"></div>
    </ion-content>
</ion-view>
