<ion-view view-title="{{'SETUP_GENERAL'| translate }}" cache-view="false">
    <ion-nav-bar class="bar-positive bar-color-light nav-bar-container" nav-bar-direction="swap">
        <ion-nav-buttons side="left">
          <button ui-sref="hey-user-setup" class="button back-button buttons  button-clear header-item" style="">
              <i class="icon ion-ios-arrow-back"></i> 
              <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"></span>
          </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content id="module-user" class="page-user-setup">
        <div class="padding"></div>

        <div class="list">
            <a class="item item-icon-left" ui-sref="hey-user-setup-general-language">
                <i class="icon ion-earth"></i>
                {{ 'LANGUAGE' | translate }}
                <span class="item-note">
                </span>
            </a>
        </div>
    </ion-content>
</ion-view>
