<ion-view view-title="{{'SOFT_INFO'| translate }}" hide-back-button="true">
    <ion-content id="module-user" class="page-user-setup-softInfo">
        <div class="padding">
            <div class="h4">
                HeyCommunity <small>DEV</small><br>
                <small>http://www.hey-community.cn</small>
            </div>

            <p>
                WebApp & IOS App & Android App of Community <br>
                &copy;2015-2016 Dev4living
            </p>
        </div>
    </ion-content>
</ion-view>
