<ion-view view-title="{{ 'TOPIC' | translate}}">
    <ion-content id="module-topic">
        <div ng-hide="TopicService.topics" class="padding text-center">
            <ion-spinner></ion-spinner>
        </div>

        <div class="list">
            <a ng-repeat="item in TopicService.topics track by $index" class="item item-text-wrap" ui-sref="hey.topic-detail({id: $index, topicId: item.id})" nav-direction="forward">
                <h2 class="title ng-binding">{{ item.title }}</h2>
                <div style="max-height:60px; overflow:hidden;">
                    <p class="content">
                        <span style="color:#333;">{{ item.author.nickname }}:</span>
                        <span ng-bind-html="item.content"></span>
                    </p>
                </div>
                <div class="hide" style="font-size:14px; color:#666;">
                    &nbsp;
                    <span class="pull-right">
                        {{ item.created_at | momentDate: 'fromNow' }}
                    </span>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
