<ion-view view-title="{{ appSiteTitle }}" cache-view="false">
    <ion-content id="module-user" class="page-info">
        <div class="padding" style="padding-top:60px;">
            <div class="avatar text-center">
                <img ng-src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-simple-512.png">
            </div>
            <div class="text-center">
                {{ user.nickname }}
            </div>
        </div>

        <div ng-hide="isAuth()" class="padding text-center">
            please sign-in
        </div>

        <div ng-if="isAuth()">
            <div class="padding"></div>

            <div class="list">
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-person"></i>
                    {{ 'MY_INFO' | translate }}
                </a>
                <a class="item item-icon-left">
                    <i class="icon ion-heart"></i>
                    {{ 'MY_ME_FOLLOW' | translate }}
                </a>
                <a class="item item-icon-left">
                    <i class="icon ion-person-stalker"></i>
                    {{ 'MY_FOLLOW_ME' | translate }}
                </a>
            </div>

            <div class="padding"></div>

            <div class="list">
                <a class="item item-icon-left">
                    <i class="icon ion-gear-a"></i>
                     {{ 'SETUP' | translate }}
                </a>
            </div>

            <div class="padding"></div>
        </div>

    </ion-content>
</ion-view>
