<ion-view view-title="{{ 'NOTICE' | translate }}" cache-view="false">
    <ion-nav-buttons side="right">
        <button ng-click="showActionSheet()" class="button back-button buttons button-clear header-item" style="">
            <i class="icon ion-navicon"></i>
        </button>
    </ion-nav-buttons>

    <ion-content id="module-user" class="page-user-notice">
        <ion-refresher
            pulling-text="{{ 'PULL_TO_REFRESH' | translate }}"
            on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list ng-repeat="($index, item) in NoticeService.notices" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
            <ion-item class="item" ng-click="goState(item)">
                <img ui-sref="hey-uhome({id: item.initiator.id})" style="background-color:#ddd; border-radius:20%; height:41px; width:41px; position:absolute;" ng-src="{{ getPicUrl(item.initiator.avatar) }}">
                <div style="padding-left:51px; margin-right:-33px !important;">
                    <div>
                        <a ui-sref="hey-uhome({id: item.initiator.id})">{{ item.initiator.nickname }}</a>
                        <small class="stable">
                            {{ item.created_at | momentDate: 'fromNow' }}
                        </small>
                        <small ng-if="item.is_checked == 1" class="stable" style="font-size:10px">
                            {{ 'READED' | translate }}
                        </small>
                    </div>

                    <div style="color:#777;">
                        <span ng-if="item.type.name == 'timeline_like' || item.type.name == 'topic_like'">like your</span>
                        <span ng-if="item.type.name == 'timeline_comment' || item.type.name == 'topic_comment'">comment your</span>

                        <span ng-if="item.type.name == 'timeline_like' || item.type.name == 'timeline_comment'">
                            {{ 'TIMELINE' | translate }}
                            <div style="position:absolute; right:16px; top:16px;">
                                <img style="height:41px; border-radius:2px;" ng-src="{{ getPicUrl(item.entity.attachment) }}">
                            </div>
                        </span>
                        <span ng-if="item.type.name == 'topic_like' || item.type.name == 'topic_comment'">{{ 'TOPIC' | translate }} - {{ item.entity_id }}</span>
                        <span>&nbsp;</span>
                    </div>

                    <ion-option-button ng-if="item.is_checked == 0" class="button-positive" ng-click="check(item, $index)">
                        {{ 'MARK_CHECKED' | translate }}
                    </ion-option-button>
                    <ion-option-button class="button-assertive" ng-click="destroy(item, $index)">
                        {{ 'DELETE' | translate }}
                    </ion-option-button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
