<ion-view view-title="{{'FEEDBACK'| translate }}" hide-back-button="true">
    <ion-content id="module-user" class="page-user-setup-softInfo">
        <div class="padding">
            <div class="h4">
                HeyCommunity <small>DEV</small><br>
            </div>

            <p>
                Feedback to http://bbs.hey-community.cn <br>
                Bug report to https://github.com/dev4living/HeyCommunity/issues <br>
            </p>
            <p>Thank you</p>
        </div>
    </ion-content>
</ion-view>
