<ion-view view-title="{{'ACCOUNT_SECURITY'| translate }}" cache-view="false">
    <ion-nav-bar class="bar-positive bar-color-light nav-bar-container">
        <ion-nav-buttons side="left">
          <button ui-sref="hey-user-setup" class="button back-button buttons  button-clear header-item" style="">
              <i class="icon ion-ios-arrow-back"></i> 
              <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"></span>
          </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content id="module-user" class="page-user-setup-softInfo">
        <div class="padding">
            <div class="h4">
                HeyCommunity <small>DEV</small><br>
            </div>

            <p>
                We actively protect user data and information in this platform, ease of use.
            </p>
        </div>
    </ion-content>
</ion-view>
