<ion-view view-title="{{ 'MY_INFO' | translate }}" cache-view="false">
    <ion-nav-bar class="bar-positive bar-color-light nav-bar-container">
        <ion-nav-buttons side="left">
          <button ui-sref="hey.user" class="button back-button buttons  button-clear header-item" style="">
              <i class="icon ion-ios-arrow-back"></i> 
              <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"></span>
          </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content id="module-user" class="page-user-info">
        <div class="padding"></div>

        <div class="list hey-list">
            <a class="item item-avatar item-icon-right" ui-sref="hey-user-info-avatar">
                <img ng-src="{{ getPicUrl(user.avatar + '?imageView/2/w/80') }}">
                <h2>{{ user.nickname }}</h2>
                <p>UID: {{ user.id}}</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item todo-item-icon-right">
                {{ 'PHONE' | translate }}
                <span class="item-note">
                    {{ user.phone }}
                </span>
            </div>
            <div class="item todo-item-icon-right">
                {{ 'EMAIL' | translate }}
                <span class="item-note">
                    {{ user.email }}
                </span>
            </div>
        </div>

        <div class="padding"></div>
    </ion-content>
</ion-view>
