<ion-view view-title="{{ 'USER_CENTER' | translate }}" cache-view="false">
    <ion-content id="module-user" class="page-user">
        <div ng-if="userInfo">
            <div class="padding"></div>

            <div class="list hey-list">
                <a class="item item-avatar item-icon-right" ui-sref="hey.user-info({id: userInfo.id})">
                    <img style="background-color:#ddd;" ng-src="{{ getPicUrl(userInfo.avatar + '?imageView/2/w/80') }}">
                    <h2>{{ userInfo.nickname }}</h2>
                    <p>UID: {{ userInfo.id}}</p>
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </div>

            <div class="padding"></div>

            <div class="list">
                <a class="item item-icon-left" ui-sref="hey.user-timeline({user_id: userInfo.id})">
                    <i class="icon ion-aperture"></i>
                    {{ 'TIMELINE' | translate }}
                    <span class="item-note">
                    </span>
                </a>
                <a class="item item-icon-left" ui-sref="hey.user-topic({user_id: userInfo.id})">
                    <i class="icon ion-quote"></i>
                    {{ 'TOPIC' | translate }}
                    <span class="item-note">
                    </span>
                </a>

                <a class="hide item item-icon-left" style="color:#999;">
                    <i class="icon ion-heart"></i>
                    {{ 'MY_ME_FOLLOW' | translate }}
                </a>
                <a class="hide item item-icon-left" style="color:#999;">
                    <i class="icon ion-person-stalker"></i>
                    {{ 'MY_FOLLOW_ME' | translate }}
                </a>
            </div>

            <div class="padding"></div>
        </div>
    </ion-content>
</ion-view>
