<ion-view view-title="{{'PRIVACY'| translate }}" hide-back-button="true">
    <ion-nav-buttons side="left">
      <button ui-sref="hey-user-setup" class="button back-button buttons  button-clear header-item" style="">
          <i class="icon ion-ios-arrow-back"></i> 
      </button>
    </ion-nav-buttons>

    <ion-content id="module-user" class="page-user-setup-softInfo">
        <div class="padding">
            <div class="h4">
                HeyCommunity <small>DEV</small><br>
            </div>

            <p>
                We actively protect user data and information in this platform, ease of use.
            </p>
        </div>
    </ion-content>
</ion-view>
