<ion-view view-title="{{ 'SIGN_IN' | translate}}">
    <ion-content id="module-user" class="page-signin">
        <div class="padding">
            <p class="h5">{{ 'WELCOME_COME_BACK' | translate }}{{ tenantInfo.site_name }}</p>

            <form name="ngForm" ng-submit="signIn()">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">{{ 'PHONE' | translate }}</span>
                        <input ng-model="user.phone" required ng-minlength="11" type="number" placeholder="">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">{{ 'PASSWORD' | translate }}</span>
                        <input ng-model="user.password" required ng-minlength="6" type="password" placeholder="">
                    </label>
                </div>

                <button ng-disabled="ngForm.$invalid" class="button button-block">{{ 'SIGN_IN' | translate }}</button>
            </form>

            <div style="margin-top:4px;">
                <a style="color:#ddd">{{ 'FORGET_PASSWORD' | translate }}</a>
                <a ui-sref="hey.user-signUp" class="pull-right">{{ 'SIGN_UP' | translate }}</a>
            </div>
        </div>
    </ion-content>
</ion-view>
