<ion-view view-title="{{'SETUP_GENERAL'| translate }}" hide-back-button="true">
    <ion-content id="module-user" class="page-user-setup">
        <div class="padding"></div>

        <div class="list">
            <a class="item item-icon-left" ui-sref="hey.user-setup-general-language" nav-direction="enter">
                <i class="icon ion-earth"></i>
                {{ 'LANGUAGE' | translate }}
                <span class="item-note">
                </span>
            </a>
        </div>
    </ion-content>
</ion-view>
