<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="signInModal.hide()">
            <i class="icon ion-ios-close-empty"></i>
        </button>
        <h1 class="title">{{ 'SIGN_IN' | translate}}</h1>
    </ion-header-bar>

    <ion-content id="module-user" class="page-signin">
        <div class="padding">
            <p class="h5">{{ 'WELCOME_COME_BACK' | translate }}{{ tenantInfo.site_name }}</p>

            <form name="ngForm" ng-submit="UserSignInService.signIn()">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">{{ 'PHONE' | translate }}</span>
                        <input ng-model="UserSignInService.phone" required ng-minlength="11" type="number" placeholder="">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">{{ 'PASSWORD' | translate }}</span>
                        <input ng-model="UserSignInService.password" required ng-minlength="6" type="password" placeholder="">
                    </label>
                </div>

                <button ng-disabled="ngForm.$invalid" class="button button-block">{{ 'SIGN_IN' | translate }}</button>
            </form>

            <div style="margin-top:4px;">
                <a style="color:#ddd">{{ 'FORGET_PASSWORD' | translate }}</a>
                <a ng-click="signUpModal.show();signInModal.hide();" todo-ui-sref="hey.user-signUp" class="pull-right">{{ 'SIGN_UP' | translate }}</a>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
