<ion-view view-title="{{ 'Topic' }}">
    <ion-content id="module-topic">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <div class="row">
            <div class="col col-50">
                <a class="button button-light button-small button-block">
                    &nbsp;
                    Select node <i class="ion-arrow-down-b"></i>
                </a>
            </div>
            <div class="col">
                <a style="white-space:nowrap; overflow:hidden;" class="button button-light button-small button-block">Recent</a>
            </div>
            <div class="col">
                <a style="white-space:nowrap; overflow:hidden;" class="button button-light button-small button-block">Excellent</a>
            </div>
            <div class="col">
                <a style="white-space:nowrap; overflow:hidden;" class="button button-light button-small button-block">Vote</a>
            </div>
        </div>

        <div class="list">
            <div ng-repeat="item in [1,2,3,4,5,6]" class="item item-activity item-thumbnail-left item-text-wrap" style="">
                <img class="avatar" ng-src="http://lorempixel.com/200/200/?28420" src="http://lorempixel.com/200/200/?28420">
                <h2 class="title ng-binding">Aut mollitia maiores et ea quia consequatur.</h2>
                <p class="content ng-binding">
                    Dignissimos voluptatem autem necessitatibus itaque quia repellendus et. Velit est velit repudiandae a ullam libero. 
                </p>
            </div>
        </div>

        <ion-infinite-scroll
            on-infinite="loadMore()"
            immediate-check="false"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
