<ion-view view-title="{{ Topic.title }}" cache-view="false">
    <ion-nav-bar class="bar-positive bar-color-light nav-bar-container" nav-bar-direction="swap">
        <ion-nav-buttons side="left">
          <button ui-sref="hey.topic" class="button back-button buttons  button-clear header-item" style="">
              <i class="icon ion-ios-arrow-back"></i> 
              <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"></span>
          </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content id="module-topic">
        <div class="list card">
            <div class="item item-avatar">
                <img ng-if="Topic" ng-src="{{ getPicUrl(Topic.author.avatar + '?imageView/2/w/80') }}">
                <h2>{{ Topic.title }}</h2>
                <p>{{ getMomentDate(Topic.created_at) | date: "yyyy-MM-dd HH:mm:ss" : "+0800"}}</p>
            </div>

            <div class="item item-body">
                <img ng-if="Topic" class="full-image" ng-src="{{ getPicUrl(Topic.avatar + '?imageView/2/w/500') }}">
                <p ng-bind-html="Topic.content | nl2br"></p>
                <p class="hide">
                    <a ng-click="like()" class="subdued"><i class="icon ion ion-heart"></i> {{ Topic.like_num }}</a>
                    <a class="subdued"><i class="icon ion ion-chatboxes"></i> {{ Topic.comment_num }}</a>
                </p>
            </div>

        </div>

        <div class="list card" ng-repeat="item in Topic.comments | orderBy: '-created_at'">
            <div class="item item-body" style="padding:0;">
                <div class="row">
                    <div class="col col-10">
                        <img style="width:100%; border-radius:50%;" ng-src="{{ getPicUrl(item.author.avatar + '?imageView/2/w/80') }}">
                    </div>
                    <div class="col" style="font-size:14px;">
                        <div class="subedue" style="font-size:14px; line-height:1.5em; white-space:nowrap; overflow:hidden;">
                            <span>{{ item.author.nickname }}</span>
                            &nbsp;&nbsp;
                            <span>{{ getMomentDate(item.created_at) | date: "yyyy-MM-dd HH:mm:ss" : "+0800"}}</span>
                        </div>
                        <div ng-bind-html="item.content | nl2br"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="" style="height:30px;"></div>
    </ion-content>

    <div class="list" style="position:absolute; bottom:0px; width:100%">
        <form name="ngForm" ng-submit="commentPublish()">
            <div style="positon:absoluted;" class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input ng-model="TopicComment.content" required ng-minlength="3" type="text" placeholder="{{ 'SAY_SOMETHING' | translate }}">
                </label>
                <button type="submit" ng-disabled="ngForm.$invalid" class="button button-small">{{ 'COMMENT' | translate }}</button>
            </div>
        </form>
    </div>
</ion-view>
