<ion-view view-title="{{ 'TOPIC' | translate}}">
    <ion-content id="module-topic">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <div ng-hide="topics" class="padding text-center">
            <ion-spinner></ion-spinner>
        </div>

        <div class="row">
            <div class="col col-50">
                <a class="button button-light button-small button-block">
                    &nbsp;
                    {{ 'SELECT_NODE' | translate }} <i class="ion-arrow-down-b"></i>
                </a>
            </div>
            <div class="col">
                <a style="white-space:nowrap; overflow:hidden;" class="button button-light button-small button-block">{{ 'RECENT' | translate }}</a>
            </div>
            <div class="col">
                <a style="white-space:nowrap; overflow:hidden;" class="button button-light button-small button-block">{{ 'EXCELLENT' | translate }}</a>
            </div>
            <div class="col">
                <a style="white-space:nowrap; overflow:hidden;" class="button button-light button-small button-block">{{ 'VOTE' | translate }}</a>
            </div>
        </div>

        <div class="list">
            <div ng-repeat="item in topics" class="item item-activity item-thumbnail-left item-text-wrap" style="">
                <img class="avatar" ng-src="{{ item.avatar }}">
                <h2 class="title ng-binding">{{ item.title }}</h2>
                <p class="content ng-binding">
                    {{ item.content }}
                </p>
            </div>
        </div>

        <ion-infinite-scroll
            on-infinite="loadMore()"
            immediate-check="false"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
