<ion-view view-title="{{ 'TOPIC' | translate }}" cache-view="false">
    <ion-nav-buttons side="left">
        <button ng-click="goBack()" nav-direction="back" class="button back-button buttons  button-clear header-item" style="">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button ng-if="isAdmin()" ng-click="showActionSheet()" class="button back-button buttons button-clear header-item" style="">
            <i class="icon ion-navicon"></i>
        </button>
    </ion-nav-buttons>

    <ion-content id="module-topic">
        <div ng-if="Topic">
            <div class="list card">
                <div class="item item-avatar">
                    <img ui-sref="hey-uhome({id: Topic.author.id})" ng-if="Topic" style="background-color:#dfdfdf;" ng-src="{{ getPicUrl(Topic.author.avatar + '?imageView/2/w/80') }}">
                    <h2>{{ Topic.title }}</h2>
                    <p>
                        <span ui-sref="hey-uhome({id: Topic.author.id})">{{ Topic.author.nickname }}</span> &nbsp; {{ getMomentDate(Topic.created_at) | date: "yyyy-MM-dd" : "+0800"}}
                    </p>
                </div>

                <div class="item item-body">
                    <div ng-bind-html="Topic.content | nl2br"></div>
                    <p class="hide">
                        <a ng-click="like()" class="subdued"><i class="icon ion ion-heart"></i> {{ Topic.like_num }}</a>
                        <a class="subdued"><i class="icon ion ion-chatboxes"></i> {{ Topic.comment_num }}</a>
                    </p>
                </div>

            </div>

            <div class="list card" ng-repeat="item in Topic.comments | orderBy: '-created_at'">
                <div class="item item-body" style="padding:0;">
                    <div class="row">
                        <div class="col col-10">
                            <img ui-sref="hey-uhome({id: item.author.id})" style="width:100%; border-radius:50%; background-color:#dfdfdf" ng-src="{{ getPicUrl(item.author.avatar + '?imageView/2/w/80') }}">
                        </div>
                        <div class="col" style="font-size:14px;">
                            <div class="subedue" style="font-size:14px; line-height:1.5em; white-space:nowrap; overflow:hidden;">
                                <span ui-sref="hey-uhome({id: item.author.id})">{{ item.author.nickname }}</span>
                                &nbsp;&nbsp;
                                <span>{{ item.created_at | momentDate | date: "yyyy-MM-dd" : "+0800"}}</span>
                            </div>
                            <div ng-bind-html="item.content | nl2br"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="" style="height:30px;"></div>
        </div>
    </ion-content>

    <div ng-if="Topic" class="list" style="position:absolute; bottom:0px; width:100%">
        <form name="ngForm" ng-submit="commentPublish()">
            <div style="positon:absoluted;" class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input ng-if="isAuth()" ng-model="TopicComment.content" required ng-minlength="3" type="text" style="width:100%" placeholder="{{ 'SAY_SOMETHING' | translate }}">
                    <input ng-if="!isAuth()" ng-model="TopicComment.content" required ng-minlength="3" type="text" style="width:100%" disabled placeholder="{{ 'PLEASE_SIGN_IN' | translate }}">
                </label>
                <button type="submit" ng-disabled="ngForm.$invalid" class="button button-small">{{ 'COMMENT' | translate }}</button>
            </div>
        </form>
    </div>
</ion-view>
