<ion-view cache-view="false"  view-title="{{ 'CREATE_TOPIC' | translate }}">
    <ion-nav-buttons side="left">
        <button ng-click="goBack()" class="button back-button buttons  button-clear header-item" style="">
            <i class="icon ion-ios-arrow-back"></i> 
        </button>
    </ion-nav-buttons>

    <ion-content id="module-topic">
        <form name="ngForm" ng-submit="store()">
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">{{ 'TITLE' | translate }}</span>
                    <input ng-model="topic.title" name="title" type="text" placeholder="{{ 'TITLE' | translate }}" required>
                </label>
                <label class="item item-input hide">
                    <span class="input-label">{{ 'AVATAR' | translate }}</span>
                    <i style="font-size:22px" class="hide stable icon ion-image"></i>
                    <input style="line-height:19px; color:#444;" type="file" ngf-select ng-model="topic.avatar" name="avatar" ngf-accept="'image/*'" ngf-resize="{width: 1000}" todo-required ngf-max-size="20MB">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'CONTENT' | translate }}</span>
                    <textarea ng-model="topic.content" rows="5" placeholder="{{ 'CONTENT' | translate }}" required></textarea>
                </label>
            </div>

            <div class="padding">
                <button ng-disabled="ngForm.$invalid" type="submit" class="button button-positive button-block">{{ 'PUBLISH' | translate }}</button>
            </div>
        </form>
    </ion-content>
</ion-view>
