<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button color="grey" ion-button (click)="dismiss()">
        Close
      </button>
    </ion-buttons>

    <ion-title>Timeline Create</ion-title>

    <ion-buttons end>
      <button color="grey" ion-button (click)="timelineCreateHandler(timelineCreateForm)">
        Send
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list id="section-textarea">
    <form #timelineCreateForm="ngForm" novalidate>
        <ion-item>
          <ion-textarea [(ngModel)]="newTimeline.content" name="content" rows="8" placeholder="What is new">
          </ion-textarea>
        </ion-item>
    </form>
  </ion-list>

  <div class="media-toolbar">
    <button #btnImgs color="dark" ion-button icon-only outline clear>
      <ion-icon name="images"></ion-icon>
    </button>
    <button color="dark" ion-button icon-only disabled outline clear>
      <ion-icon name="videocam"></ion-icon>
    </button>
    <button color="dark" ion-button icon-only disabled outline clear>
      <ion-icon name="at"></ion-icon>
    </button>
    <button color="dark" ion-button icon-only disabled outline clear>
      <ion-icon name="locate"></ion-icon>
    </button>
  </div>

  <div class="">
    <br>
    <br>
    <input #inputImgs type="file" (click)="inputImgs.value = null" (change)="uploadImgs($event)" multiple accept="image/*">
    <input class="hide" #inputVideo type="file" (click)="inputVideo.value = null"  (change)="uploadVideo($event)" multiple accept="video/*">
  </div>

  <hr>

  <div class="preview-imgs">
    <img *ngFor="let item of imgs" src="{{ helper.getImg(item.uri) }}?imageView/2/w/100">
  </div>

  <div class="preview-video" *ngIf="video">
    <video width="60" (click)="videoPlay($event)" poster="{{ helper.getVideo(video.poster) }}" src="{{ video.uri }}"></video>
  </div>
</ion-content>
