page-timeline {
  ion-content {
    .timeline-card {
      margin: 0 0 12px 0;
      width: 100%;

      .header {
        .date {
          font-size: 14px;
          color: #999;
        }

        .author {
           display: inline-block;
           overflow: hidden;
           width: 8em;
        }
      }

      hr {
        margin: 0;
      }

      .content {
        color: $text-color;
        word-break: break-all;
      }

      img.avatar {
        min-height: 36px;
        min-width: 36px;
        background-color: #ddd;
      }

      img.photo {
        width: 100%;
        background-color: #ddd;
      }

      .footer {
        ion-col {
          padding-top: 0;
          padding-bottom: 0;

          button {
            margin-top: 0;
            margin-bottom: 0;
          }
        }

        .date {
          text-align: right;
          padding-right: 13px;

          ion-note {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: hidden;
            color: #999;
          }
        }
      }

      .comments {
        border-top: 1px solid #ddd;
        margin: 6px 0 4px;

        .item-comment {
          color: #666 !important;
          padding: 0 16px 0 0;
          margin-left: 16px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 30px;
          height: 30px;
          font-size: 14px;
          color: $text-color;
          border-bottom: 1px solid #eee;

          &:last-of-type {
            border-bottom: none;
          }

          &:nth-of-type(3) {
            border-bottom: none;
          }

          .author {
            font-weight: 500;
          }
        }


        iion-item {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 20px;
          line-height: 20px;

          .input-wrapper {
          height: 20px;
          line-height: 20px;

          }
          ion-label {
            margin-top: 4px;
            margin-bottom: 4px;
          }

          .author {
             font-weight: bold;
          }

          font-size: 14px;
          color: $text-color;
        }
      }
    }
  }
}
