<ion-header>
  <ion-navbar>
    <ion-title>Timeline Detail</ion-title>

    <ion-buttons end>
      <button color="grey" *ngIf="authService.isAuth" ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div padding class="section-comment items-comment">
    <div class="item-comment" [hidden]="!timeline.content">
      <img class="avatar" src="{{ helper.getImg(timeline.author.avatar) }}?imageView/2/w/100">
      <div #contentBox class="comment-content">
        <div class="header">
          <a color="dark">{{ timeline.author.nickname }}</a>
          <span class="pull-right">{{ timeline.created_at | moment: ['MM-DD HH:mm'] }}</span>
        </div>
        {{ timeline.content }}
      </div>
    </div>

    <div class="item-comment" *ngFor="let comment of timeline.comments">
      <img class="avatar" src="{{ helper.getImg(comment.author.avatar) }}?imageView/2/w/100">
      <div class="comment-content">
        <div class="header">
          <a color="dark">{{ timeline.author.nickname }}</a>
          <span class="pull-right">
            <span color="grey">{{ comment.created_at | moment: ['MM-DD HH:mm'] }}</span>
            &nbsp;
            <button color="grey" *ngIf="false && authService.isAuth" ion-button class="btn-comment-reply" small primary clear (click)="presentTimelineCommentModal()">
                <ion-icon name="undo"></ion-icon> &nbsp; Comment
            </button>
          </span>
        </div>
        {{ comment.content }}
      </div>
    </div>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar no-border-bottom>
    <div class="section-comment-input">
      <div class="box" tappable (click)="presentTimelineCommentModal()">
        say something
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
