page-timeline-detail {
  ion-content {
    //
    //
    .section-comment {
      background-color: #eee;
      color: $text-color;

      //
      .avatar {
        position: absolute;
        border-radius: 50%;
        background-color: #ddd;
        width: 30px;
        height: 30px;
      }

      //
      .item-comment {

        .comment-content {
          margin-left: 40px;
          margin-bottom: 16px;
          border-bottom: 1px solid #fff;
          padding-bottom: 16px;

          .header {
            line-height: 20px;

            a {
              font-size: 16px;
            }

            .pull-right {
              button {
                height: 16px;
                line-height: 16px;
                padding: 0 2px;
                margin: 0;
                vertical-align: middle;

                ion-icon {
                  height: 16px;
                  line-height: 16px;
                }
              }
            }
          }
        }

        //
        &:last-of-type .comment-content {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }



  ion-footer {
    //
    //
    .section-comment-input {
      padding: 0 6px;

      .box {
        padding: 6px 10px;
        margin: 6px 0 4px 0;
        border-radius: 4px;
        background-color: #ddd;
        color: #aaa;
      }
    }
  }



}
