<ion-header>
  <ion-navbar>
    <ion-title>
      Timeline
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentTimelineCreateModal()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let timeline of timelineService.timelines" class="timeline-card">
    <ion-item class="header">
      <ion-avatar item-left>
        <img class="avatar" src="{{ timeline.author?.avatar }}">
      </ion-avatar>
      <h2>
        <span right class="date pull-right">
          {{ timeline.created_at | timeago }}
        </span>
        <span class="author">
          {{ timeline.author?.nickname }}
        </span>
      </h2>
      <p>{{ timeline.author?.bio || ("I'm " + timeline.author?.nickname) }}</p>
    </ion-item>

    <div>
      <img *ngFor="let img of timeline.imgs" src="{{ img.uri }}">
    </div>
    <hr>

    <ion-card-content (click)="gotoTimelineDetailPage(timeline)">
      <div class="content">{{ timeline.content }}</div>
    </ion-card-content>

    <ion-row class="footer">
      <ion-col>
        <button ion-button icon-only color="primary" clear small (click)="setLikeForTimeline(timeline)">
          <ion-icon name="{{ 'heart-outline' }}"></ion-icon>
          &nbsp;
          <div>{{ timeline.like_num }} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-only color="primary" clear small (click)="gotoTimelineDetailPage(timeline)">
          <ion-icon name="text"></ion-icon>
          &nbsp;
          <div>{{ timeline.comment_num }} Comments</div>
        </button>
      </ion-col>
      <ion-col center class="date">
        <ion-note>
          {{ timeline.created_at | moment: ['MM-DD HH:mm'] }}
        </ion-note>
      </ion-col>
    </ion-row>

    <div (click)="gotoTimelineDetailPage(timeline)" class="comments">
        <div *ngFor="let comment of timeline.comments; let i=index;">
          <div class="item-comment" *ngIf="i < 3">
            <span class="author">{{ comment.author?.nickname }}</span>:
            {{ comment.content }}
          </div>
        </div>
    </div>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
