<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'timeline.Park' | translate }}
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="grey" (click)="gotoSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list padding-top class="bar-create" *ngIf="heyApp.authService.isAuth">
    <ion-item (click)="presentTimelineCreateModal()">
      <ion-avatar item-left>
        <img src="{{ heyApp.authService.userInfo.avatar }}">
      </ion-avatar>
      <h2>珍藏这一刻 ...</h2>
      <div class="btn-camera" item-right>
        <ion-icon name="camera"></ion-icon>
      </div>
    </ion-item>
  </ion-list>

  <ion-card *ngFor="let timeline of timelineService.timelines; let i=index" class="timeline-card">
    <ion-item class="header">
      <ion-avatar item-left>
        <img class="avatar" src="{{ heyApp.helper.getImg(timeline.author?.avatar) }}?imageView/2/w/100">
      </ion-avatar>
      <h2>
        <span right class="date pull-right">
          <ion-icon name="ios-arrow-down"></ion-icon>
        </span>
        <span class="author">
          {{ timeline.author?.nickname }}
        </span>
      </h2>
      <p>{{ timeline.created_at | timeago }}</p>
    </ion-item>

    <ion-card-content>
      <div class="content" [innerHtml]="timeline.content | nl2br"></div>
    </ion-card-content>

    <div class="img" *ngIf="timeline.imgs.length === 1">
      <img src="{{ heyApp.helper.getImg(timeline.imgs[0].uri) }}?imageView/2/w/800">
    </div>

    <div class="img img-muilt" [ngClass]="{'img-odd': (timeline.imgs.length % 2)}" *ngIf="timeline.imgs.length > 1">
      <div *ngFor="let img of timeline.imgs; let i = index" [ngStyle]="{'background-image': 'url(' + heyApp.helper.getImg(img.uri) + ')'}"></div>
      <span class="clear-float"></span>
    </div>

    <div *ngIf="timeline.video">
      <video width="100%" preload="none" (click)="videoPlay($event)" poster="{{ heyApp.helper.getImg(timeline.poster) }}" src="{{ heyApp.helper.getVideo(timeline.video) }}"></video>
    </div>

    <ion-row class="footer">
      <ion-col>
        <button ion-button icon-only color="grey" clear small (click)="setLikeForTimeline(timeline)">
          <ion-icon color="danger" name="{{ timeline.is_like ? 'heart' : 'heart-outline' }}"></ion-icon>
        </button>
        <button ion-button icon-only color="grey" clear small (click)="gotoTimelineDetailPage(timeline, i)">
          <ion-icon name="text"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <div *ngIf="timeline.comment_num" class="comments">
        <div *ngFor="let comment of timeline.comments; let i=index;">
          <div class="item-comment" *ngIf="i < 3">
            <span class="author">{{ comment.author?.nickname }}</span>:
            <span *ngIf="comment.parent_id">
              @{{ comment.parent.author.nickname }}:
            </span>
            {{ comment.content }}
          </div>
        </div>
    </div>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
