<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button color="grey" ion-button (click)="dismiss()">
        {{ 'Close' | translate }}
      </button>
    </ion-buttons>

    <ion-title>{{ 'timeline.A Comment' | translate }}</ion-title>

    <ion-buttons end>
      <button color="grey" ion-button (click)="sendCommentHandler(commentForm)">
        {{ 'timeline.Send' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div padding style="background-color:#eee;">
    <ion-list>
      <form #commentForm="ngForm" (ngSubmit)="sendCommentHandler(commentForm)">
          <ion-item *ngIf="!timelineComment">
            <ion-textarea #inputComment [(ngModel)]="newComment.content" name="content" required ngModel rows="3" placeholder="{{ 'timeline.Say Something ...' | translate }}">
            </ion-textarea>
          </ion-item>
          <ion-item *ngIf="timelineComment">
            <ion-textarea #inputComment [(ngModel)]="newComment.content" name="content" required ngModel rows="3" placeholder="{{ 'timeline.Say Something To ...' | translate:{user: timelineComment.author.nickname} }}">
            </ion-textarea>
          </ion-item>
      </form>
    </ion-list>
  </div>
</ion-content>
