page-timeline-detail {
  ion-content {
    //
    //
    .section-comment {
      background-color: #eee;
      color: $text-color;

      //
      .item-comment {
        //
        .avatar {
          position: absolute;
          border-radius: 50%;
          background-color: #ddd;
          width: 36px;
          height: 36px;
        }

        .comment-content {
          margin-left: 46px;
          margin-bottom: 16px;
          border-bottom: 1px solid #fff;
          padding-bottom: 16px;

          .header {
            line-height: 20px;

            a {
              font-size: 16px;
            }

            .pull-right {
              button {
                height: 16px;
                line-height: 16px;
                padding: 0 2px;
                margin: 0;
                vertical-align: middle;

                ion-icon {
                  height: 16px;
                  line-height: 16px;
                }
              }
            }

            .line-1 {
              line-height: 18px;
            }

            .line-2 {
              margin-bottom: 4px;
            }
          }

          .footer {
            padding-top: 8px;
            margin-bottom: -10px;

            ion-col {
              padding-top: 0;
              padding-bottom: 0;

              button {
                margin-top: 0;
                margin-bottom: 0;
              }
            }

            .btns {
              padding-left: 0;

              ion-icon:first-of-type {
                padding-left: 0;
              }
            }

            .date {
              text-align: right;
              padding-right: 0;

              ion-note {
                line-height: 27px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: hidden;
                color: #999;
              }
            }
          }

        }

        //
        &:last-of-type .comment-content {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }



  ion-footer {
    //
    //
    .section-comment-input {
      padding: 0 6px;

      .box {
        padding: 6px 10px;
        margin: 6px 0 4px 0;
        border-radius: 4px;
        background-color: #ddd;
        color: #aaa;
      }
    }
  }



}
