page-timeline-create {
    ion-content {
      .scroll-content {
        background-color: white !important;
      }
      ion-list {
        ion-item {
          background-color: white !important;
        }
        .select {
          margin-left: 40px;
        }
      }
    #section-textarea {
      margin-bottom: 0;

      //
      .item-inner {
        border-bottom: 0;
      }

      //
      ion-item {
        padding-left: 0;
      }

      //
      textarea {
        padding-left: 16px;
      }
    }


    //
    //
    .preview-imgs {
      position: absolute;
      bottom: 50px;
      width: 100%;

      img {
        padding-bottom: 6px;
        padding-left: 6px;
        display: inline-block;
        width: 60px;
        height: 60px;
      }
    }


    //
    //
    .media-toolbar {
      position: absolute;
      bottom: 0;
      background-color: #eee;
      width: 100%;

      //
      .input-imgs, .input-video {
         display: inline-block;
         position: absolute;
         height: 36px;
         width: 47px;
         left: 0px;
         background-color: #ddd;
         opacity: 0;
      }
    }


    //
    //
    .media-inputs {
      margin: 6px 16px 0;
    }
  }
}
