ion-content .scroll-content {
  background-color: $background-color;
  color: $text-color;
}

ion-footer {
  color: $text-color;
}



//
//
// ------------------------------------
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}



//
//
// ------------------------------------
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

