<ion-view view-title="{{  'TALK' | translate }} ">
    <ion-content id="module-topic">
        <div class="list hey-list">
            <a ui-sref="hey.talk-ing" class="item item-avatar" href="#" ng-repeat="item in talks">
                <img ng-src="{{ getPicUrl(item.avatar) }}">
                <h2>
                    {{ item.nickname }}
                    <span class="pull-right" style="font-size:12px; color:#666; line-height:19px;">
                        Today, {{ item.created_at.substring(14) }}
                    </span>
                </h2>
                <p>say something ...</p>
            </a>
        </div>

        <div class="padding"></div>
    </ion-content>
</ion-view>

