<ion-view view-title="{{ 'Talk' }}">
    <ion-content id="module-topic">
        <div class="list hey-list">
            <a ui-sref="hey.talk-ing" class="item item-avatar" href="#" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12]">
                <img src="http://ionicframework.com/img/docs/mcfly.jpg">
                <h2>
                    Jack
                    <span class="pull-right" style="font-size:12px; color:#666; line-height:19px;">
                        Today, 12:20
                    </span>
                </h2>
                <p>I will be back</p>
            </a>
        </div>

        <div class="padding"></div>
    </ion-content>
</ion-view>

