<ion-view view-title="{{  'TALK' | translate }} ">
    <div class="text-center" style="color:#fff; position:absolute; top:0px; width:100%; height:100%; background-color:rgba(100,100,100,0.6);">
        <div style="z-index:999999; position:absolute; top:220px; width:100%; color:#000">
            Deving ... <br>
            {{ 'Deving' | translate }}
        </div>
    </div>

    <ion-content id="module-topic">
        <div ng-hide="talks" class="padding text-center">
            <ion-spinner></ion-spinner>
        </div>

        <div class="list hey-list">
            <a ui-sref="hey.talk-ing" class="item item-avatar" href="#" ng-repeat="item in talks">
                <img ng-src="{{ getPicUrl(item.avatar + '?imageView/2/w/80') }}">
                <h2>
                    {{ item.nickname }}
                    <span class="pull-right" style="font-size:12px; color:#666; line-height:19px;">
                        Today, {{ item.created_at.substring(14) }}
                    </span>
                </h2>
                <p>say something ...</p>
            </a>
        </div>

        <div class="padding"></div>
    </ion-content>
</ion-view>

