<ion-view view-title="{{ 'Jack' }}">
    <ion-content id="module-topic">

        <div class="padding text-center">Deving ...</div>

        <div class="list" style="display:none;">
            <div style="positon:absoluted;" class="item item-input-inset">
                <label class="item-input-wrapper">
                <input type="text" placeholder="Say something">
                </label>
                <button class="button button-small">
                Send
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>

