<ion-view view-title="{{ 'Jack' }}">
    <ion-content id="module-topic">

        <div class="padding text-center" style="color:#fff; position:absolute; padding-top:220px; top:0px; width:100%; height:1000px; background-color:rgba(100,100,100,0.3);">
            Deving ... <br>
            功能正在开发 ...
        </div>

    </ion-content>
        <div class="list" style="position:absolute; bottom:45px; width:100%">
            <div style="positon:absoluted;" class="item item-input-inset">
                <label class="item-input-wrapper">
                <input type="text" placeholder="Say something">
                </label>
                <button class="button button-small">
                Send
                </button>
            </div>
        </div>
</ion-view>

