//
// user
// ----------------------------------------
.user {
  form {
    margin-top: 30px;

    ion-list {
      margin-bottom: 0;
    }

    .session-bottom {
      margin-bottom: 10px;
    }
  }
}
