<ion-header>
  <ion-navbar>
    <ion-title>
      主页
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="gotoSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding class="section-userinfo">
    <div class="pic">
      <img class="avatar" src="{{ heyApp.authService.userInfo.avatar }}">
    </div>
    <div class="info">
      <div class="nickname">{{ heyApp.authService.userInfo.nickname }}</div>
      <div class="uid">U{{ heyApp.authService.userInfo.id }}</div>
    </div>
    <button class="btn-setting" ion-button color="grey" style="color:#888;" clear (click)="goUserSet()">个人设置 &nbsp;&nbsp; <ion-icon name="ios-arrow-forward"></ion-icon></button>
  </div>

  <div class="section-segment">
    <ion-segment [(ngModel)]="collectType">
      <ion-segment-button value="1">
        我的
      </ion-segment-button>
      <ion-segment-button value="2">
        已关注
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-grid class="collect-cards" [ngSwitch]="collectType">
    <ion-row *ngSwitchCase="'1'">
      <ion-col col-6 *ngFor="let collect of collectService.myCollects; let i=index">
        <ion-card class="collect-card" (click)="gotoCollectPage(collect)">
          <img class="collect-avatar" src="{{ collect.avatar }}">
          <img class="avatar" src="{{ collect.author.avatar }}">
          <ion-card-content class="info">
            <p class="name">{{ collect.name }}</p>
            <div class="footer">
                <div class="pull-right">{{ collect.type_id }}</div>
                {{ collect.follow_num }} 位关注者
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card class="collect-card collect-card-add-button" (click)="gotoCollectCreatePage()">
          <img src="assets/images/moment-1.jpg">
          <ion-card-content class="info">
            <ion-icon name="add-circle"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngSwitchCase="'2'">
      <ion-col col-6 *ngFor="let collect of collectService.myFollowCollects; let i=index">
        <ion-card class="collect-card" (click)="gotoCollectPage(collect)">
          <img class="collect-avatar" src="{{ collect.avatar }}">
          <img class="avatar" src="{{ collect.author.avatar }}">
          <ion-card-content class="info">
            <p class="name">{{ collect.name }}</p>
            <div class="footer">
                <div class="pull-right">{{ collect.type_id }}</div>
                {{ collect.follow_num }} 位关注者
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
