page-me {
  ion-content {
    .scroll-content {
      background-color: #eee;
    }

    //
    .section-userinfo {
      background-color: #fff;

      .pic {
        float: left;
        padding-left: 10px;
        padding-right: 10px;

        .avatar {
          width: 60px;
          border-radius: 50%;
        }
      }

      .info {
        margin-top: 10px;

        .nickname {
          font-size: 16px;
        }

        .uid {
          color: grey;
        }
      }

      .btn-setting {
        position: absolute;
        right: 0;
        top: 20px;
      }
    }

    //
    .section-segment {
      background-color: #fff;
    }

    //
    .collect-cards {
      .collect-card {
        margin: 0;
        width: 100%;
      }
    }
  }
}
