page-me {
  ion-content {
    .scroll-content {
      background-color: #eee;
    }

    //
    .section-userinfo {
      background-color: #fff;

      .pic {
        float: left;
        padding-left: 10px;
        padding-right: 10px;

        .avatar {
          width: 60px;
          border-radius: 50%;
        }
      }

      .info {
        margin-top: 10px;

        .nickname {
          font-size: 16px;
        }

        .uid {
          color: grey;
        }
      }

      .btn-setting {
        position: absolute;
        right: 0;
        top: 20px;
      }
    }

    //
    .section-segment {
      background-color: #fff;
      .segment-button {
        color: #000;
      }
      .segment-activated {
        font-weight: bold;
        font-size: 1.4rem;
        color: #2D4486;
      }
    }

    //
    .collect-cards {
      .collect-card-add-button {
        ion-card-content {
          padding-left: 0;
          height: 84px;

          ion-icon {
            position: absolute;
            background-color: #fff;
            top: 0;
            z-index: 999;
            padding-top: 30px;
            text-align: center;
            width: 100%;
            height: 100%;
            font-size: 80px !important;
          }
        }
      }

      .collect-card {
        position: relative;
        margin: 0;
        width: 100%;

        .collect-avatar {
          width: 100%;
          min-height: 86px;
          background-color: #ddd;
        }

        .avatar {
          position: absolute;
          bottom: 70px;
          left: 16px;
          width: 20%;
          border-radius: 50%;
          background-color: #eee;
        }

        .info {
          background-color: #fff;

          .name {
            margin-top: 6px;
            font-size: 16px;
          }

          .footer {
            margin-top: 10px;
            color: color($colors, grey);
            font-size: 12px;
          }
        }
      }
    }
  }
}
