page-me {
  ion-toolbar {
    position: fixed;

    .toolbar-background {
      background: transparent;
    }

    ion-buttons {
      margin-top: 20px;
      padding-right: 10px;
    }
  }


  ion-content {
    //
    //
    #section-avatar {
      background-color: #e1e1e1;
      text-align: center;

      .avatar {
        margin-top: 60px;
        border-radius: 50%;
        width: 100%;
        max-width: 160px;
      }

      .nickname {
        font-size: 18px;
      }

      .bio {
        line-height: 2em;
      }
    }


    //
    //
    #section-btns {
      margin-top: 10px;
    }


    //
    //
    #section-info {
      margin-bottom: 10px;
    }
  }
}
