user-set {
    ion-content {
        .user-pic {
            background-color: #fff;
            text-align: center;

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 20px auto;
            }

            p {
                margin: 0 0 10px;
            }
        }

        ion-list {
            ion-item {
                background-color: #fff !important;
            }
          .tip {
            text-align: center;
            padding: 0 5px;
            font-size: 10px;
            color: #dddddd;
            background-color: #fff !important;
          }
            &.list-ios {
                margin: 0 10px;

                ion-item.item-block {
                    &:first-child{
                        border-top: none;
                    }

                    &:last-child {
                        border: none;
                    }

                    & {
                        border-bottom: 0.55px solid #c8c7cc;
                    }

                    div.item-inner {
                        border-bottom: none;

                        button.sex-button {
                            border: 1px solid #000;
                            padding: 0 1em;
                        }
                    }
                }
            }
        }
    }
}
