<ion-header>
  <ion-navbar>
    <ion-title>
      主页
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="gotoSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding class="section-userinfo" *ngIf="userInfo">
    <div class="pic">
      <img class="avatar" src="{{ userInfo.avatar }}">
    </div>
    <div class="info">
      <div class="nickname">{{ userInfo.nickname }}</div>
      <div class="uid">U{{ userInfo.id }}</div>
    </div>
  </div>

  <div class="section-segment">
    <ion-segment>
      <ion-segment-button>
        收藏集
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-grid class="collect-cards">
    <ion-row>
      <ion-col col-6 *ngFor="let collect of collectService.userCollects; let i=index">
        <ion-card class="collect-card" (click)="gotoCollectPage(collect)">
          <img class="collect-avatar" src="{{ collect.avatar }}">
          <img class="avatar" src="{{ collect.author.avatar }}">
          <ion-card-content class="info">
            <p class="name">{{ collect.name }}</p>
            <div class="footer">
                <div class="pull-right">{{ collect.type_name }}</div>
                {{ collect.follow_num }} 位关注者
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
