<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'Notices' | translate }} ({{ noticeService.noCheckNotices.length }})
    </ion-title>

    <ion-buttons end>
      <button color="grey" ion-button icon-only (click)="showActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding [hidden]="noticeService.notices.length > 0">You did not have notices</div>

  <ion-list id="section-notices">
    <ion-item-sliding #item *ngFor="let notice of noticeService.notices">
      <ion-item [ngClass]="{ checked: notice.is_checked === 1 }">
        <ion-avatar item-left>
          <img src="{{ helper.getImg(notice.initiator.avatar) }}?imageView/2/w/100">
        </ion-avatar>
        <h2>
          {{ notice.initiator.nickname }}
        </h2>
        <p>{{ getNoticeText(notice) }}</p>
        <div *ngIf="notice.entity.images.length > 0" class="pic" item-right>
          <img src="{{ getImg(notice.entity.images) }}?imageView/2/w/800">
        </div>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button danger (click)="destroy(notice)">
          <ion-icon name="trash"></ion-icon>
          Remove
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
