<ion-content>
  <ion-grid id="section-avatar">
    <ion-row>
      <ion-col></ion-col>

      <ion-col padding-top>
        <img tappable (click)="gotoMeProfilePage()" *ngIf="authService.isAuth" class="avatar" src="{{ helper.getImg(authService.userInfo?.avatar) }}">
        <img *ngIf="!authService.isAuth" class="avatar" src="./assets/images/userAvatar-default.png">
      </ion-col>

      <ion-col id="section-btns" text-right>
        <ion-buttons>
          <button ion-button clear icon-only color="grey" [navPush]="MeSettingPage">
            <ion-icon name="cog"></ion-icon>
          </button>

          <button *ngIf="authService.isAuth" ion-button clear icon-only color="grey" (click)="gotoMeProfilePage()">
            <ion-icon name="information-circle"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-10></ion-col>

      <ion-col id="section-info" *ngIf="authService.isAuth" center class="text-center" tappable (click)="gotoMeProfilePage()">
        <div class="nickname">{{ authService.userInfo?.nickname }}</div>
        <div class="bio">{{ authService.userInfo?.bio || '' }}</div>
      </ion-col>

      <ion-col id="section-info" *ngIf="!authService.isAuth" center class="text-center">
        <div class="nickname">Hey guys</div>
        <div class="bio">Let's login now</div>
      </ion-col>

      <ion-col width-10></ion-col>
    </ion-row>
  </ion-grid>

  <ion-list no-border padding-top>
    <ion-list-header>
      Data
    </ion-list-header>

    <button ion-item (click)="gotoMeNoticePage()">
      <ion-icon name="notifications" item-left></ion-icon>
      Notices
      <ion-badge class="hide" light item-right color="danger">10</ion-badge>
    </button>

    <button ion-item (click)="gotoMeTimelinePage()">
      <ion-icon name="snow" item-left></ion-icon>
      My Timeline
    </button>
  </ion-list>
</ion-content>
