page-me {
  ion-content {
    //
    //
    #section-avatar {
      background-color: #ddd;

      .avatar {
        margin-top: 20px;
        border-radius: 50%;
        width: 100%;
      }

      .nickname {
        font-size: 18px;
      }

      .bio {
        line-height: 2em;
      }
    }
  }
}
