<ion-view class="has-tabs" view-title="{{ appSiteTitle }}" hide-back-button="true">
    <ion-nav-buttons side="right">
        <a class="button button-clear button-light icon ion-ios-camera-outline" ng-click="showActionSheet()"></a>
    </ion-nav-buttons>

    <ion-content id="module-timeline">
        <ion-refresher
            pulling-text="{{ 'PULL_TO_REFRESH' | translate }}"
            on-refresh="doRefresh()">
        </ion-refresher>

        <div ng-hide="TimelineService.timelines" class="padding text-center">
            <ion-spinner></ion-spinner>
        </div>

        <div ng-repeat="(index, item) in TimelineService.timelines | orderBy: '-id' track by $index" class="list">
            <div class="item item-header item-divider" ion-affix>
                <div class="pull-left">
                    <img ui-sref="hey.user-home({id: item.author.id})" ng-src="{{ getPicUrl(item.author.avatar + '?imageView/2/w/80') }}">
                </div>
                <div class="pull-left">
                    <div ui-sref="hey.user-home({id: item.author.id})" class="name">{{ item.author.nickname }}</div>
                    <div class="date">{{ item.created_at | momentDate: 'fromNow' }}</div>
                </div>
            </div>

            <div class="item item-body item-text-wrap">
                <img on-double-tap="like(item.id, true)" ng-if="item.attachment" ng-src="{{ getPicUrl(item.attachment + '?imageView/2/w/800') }}">
            </div>

            <div class="item item-footer">
                <div>
                    <div class="btns pull-right">
                        <a ng-if="!utility.isAuth()" ng-click="signInModal.show()" class="icon ion-ios-heart-outline" style="color:#ddd"></a>
                        <a ng-if="utility.isAuth() && isLike(item.id)" ng-click="like(item.id)" class="icon ion-ios-heart"></a>
                        <a ng-if="utility.isAuth() && !isLike(item.id)" ng-click="like(item.id)" class="icon ion-ios-heart-outline"></a>

                        <a class="icon ion-more" ui-sref="hey.timeline-detail({id: index, timelineId: item.id})"></a>
                    </div>

                    <div ui-sref="hey.timeline-detail({id: index, timelineId: item.id})" ng-if="(item.like_num - 0) + (item.comment_num - 0) > 0" style="line-height:1em;">
                        <i class="icon ion-person-stalker"></i>
                        <small>
                            {{ getInteractionUsers(item) }}
                            <br>
                            {{ getInteractionNum(item, 'LIKE_OR_COMMENT') }}
                        </small>
                    </div>

                    <div ui-sref="hey.timeline-detail({id: index, timelineId: item.id})" ng-if="(item.like_num - 0) + (item.comment_num - 0) <= 0" style="line-height:1em;">
                        <i class="icon ion-person"></i>
                        <small>
                            {{ item.author.nickname }}
                            {{ 'POSTED_ON' | translate }}
                            <br>
                            {{ item.created_at | momentDate | date : 'yyyy-MM-dd HH:mm:ss' }}
                        </small>
                    </div>
                </div>
            </div>
            <div class="padding" style="line-height:1.2em; color:#555; background-color:#fff;">
                <div style="position:relative;">
                    <div ui-sref="hey.timeline-detail({id: index, timelineId: item.id})" style="position:absolute; width:100%; height:100%;"></div>
                    <div style="">
                        <a ui-sref="hey.user-home({id: item.author.id})" style="color:rgb(54, 74, 142); position:relative">{{ item.author.nickname }}: </a>
                        <span ui-sref="hey.timeline-detail({id: index, timelineId: item.id})" class="content" ng-bind-html="item.content"></span>
                    </div>

                    <div style="margin-top:5px;" ng-repeat="comment in item.comments | orderBy: '-id'">
                        <a ui-sref="hey.user-home({id: comment.author.id})" style="color:rgb(54, 74, 142); position:relative">{{ comment.author.nickname }}: </a>
                        <span ui-sref="hey.timeline-detail({id: index, timelineId: item.id})" class="content" ng-bind-html="comment.content"></span>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="TimelineService.timelines && TimelineService.timelines.length == 0" class="padding text-center">
            {{ 'WHAT_IS_NEW' | translate }}
        </div>

        <ion-infinite-scroll
            on-infinite="loadMore()"
            ng-if="!loadMoreDisabled"
            immediate-check="false"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>

<div class="bottom-tabs" ng-include="'templates/tab-nav.html'"></div>
