<ion-view cache-view="false"  view-title="{{ 'CREATE_TIMELINE' | translate }}">
    <ion-content id="module-timeline">
        <form name="ngForm" ng-submit="store()">
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">{{ 'AVATAR' | translate }}</span>
                    <input style="line-height:19px; color:#444;" type="file" ngf-select ng-model="Timeline.avatar" name="avatar" ngf-accept="'image/*'" required ngf-max-size="20MB">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{ 'CONTENT' | translate }}</span>
                    <textarea ng-model="Timeline.content" rows="5" placeholder="{{ 'CONTENT' | translate }}" required></textarea>
                </label>
            </div>

            <div class="padding" style="margin-top:-20px;">
                <div class="assertive" ng-repeat="item in formErrors">
                    {{ item[0] }}
                </div>
            </div>

            <div class="padding">
                <button ng-disabled="ngForm.$invalid" type="submit" class="button button-positive button-block">{{ 'PUBLISH' | translate }}</button>
            </div>
        </form>
    </ion-content>
</ion-view>
