<ion-view view-title="{{ appSiteTitle }}">
    <ion-nav-buttons side="right">
        <a class="button button-clear button-light icon ion-plus-round" ui-sref="hey-timeline-create"></a>
    </ion-nav-buttons>

    <ion-content id="module-timeline" delegate-handle="contentScrollDelegate">
        <ion-refresher
            pulling-text="{{ 'PULL_TO_REFRESH' | translate }}"
            on-refresh="doRefresh()">
        </ion-refresher>

        <div ng-hide="timelines" class="padding text-center">
            <ion-spinner></ion-spinner>
        </div>

        <div ng-repeat="item in timelines" class="list">
            <div class="item item-header item-divider" ion-affix>
                <div class="pull-left">
                    <img ng-src="{{ getPicUrl(item.author.avatar + '?imageView/2/w/80') }}">
                </div>
                <div class="pull-left">
                    <div class="name">{{ item.author.nickname }}</div>
                    <div class="date">{{ item.created_at | momentDate | date: "yyyy-MM-dd HH:mm:ss" : "+0800"}}</div>
                </div>
            </div>

            <div class="item item-body item-text-wrap">
                <img ng-if="item.attachment" ng-src="{{ getPicUrl(item.attachment + '?imageView/2/w/800') }}">
                <div class="content" ng-bind-html="item.content | nl2br"></div>
            </div>

            <div class="item item-footer">
                <div class="btns pull-right">
                    <a ng-if="!isAuth()" class="icon ion-ios-heart-outline"></a>
                    <a ng-if="isAuth() && isLike(item.id)" ng-click="like(item.id)" class="icon ion-ios-heart"></a>
                    <a ng-if="isAuth() && !isLike(item.id)" ng-click="like(item.id)" class="icon ion-ios-heart-outline"></a>

                    <a class="icon ion-more" style="color:#ddd"></a>
                </div>
                <div>
                    {{ item.like_num }}人喜欢
                </div>
            </div>
        </div>

        <div ng-if="timelines && timelines.length == 0" class="padding text-center">
            {{ 'WHAT_IS_NEW' | translate }}
        </div>

        <ion-infinite-scroll
            on-infinite="loadMore()"
            immediate-check="false"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
