<ion-view cache-view="false"  view-title="{{ 'COMMENTS' | translate }}" hide-tabs>
    <ion-content id="module-timeline" style="margin-bottom:53px;">
        <ion-refresher
            pulling-text="{{ 'PULL_TO_REFRESH' | translate }}"
            on-refresh="doRefresh()">
        </ion-refresher>

        <div>
            <img style="min-height:60px; width:100%; margin-top:-10px; background-color:#ddd;" ng-src="{{ getPicUrl(Timeline.attachment + '?imageView/2/w/800') }}">
        </div>

        <div class="padding" ng-if="Timeline" style="background-color:#fff;">
            <div class="" style="order-bottom:1px solid #fff; line-height:24px;">
                <span ng-click="like(Timeline.id)" style="padding-left:3px; display:inline-block; width:44px; line-height:24px; height:24x;">
                    <i ng-if="!isAuth()" class="icon ion-ios-heart" style="color:#f00; line-height:24px; font-size:18px;"></i>
                    <i ng-if="isAuth() && isLike(Timeline.id)" class="icon ion-ios-heart" style="color:#f00; line-height:24px; font-size:18px;"></i>
                    <i ng-if="isAuth() && !isLike(Timeline.id)" class="icon ion-ios-heart-outline" style="color:#f00; line-height:24px; font-size:18px;"></i>
                    <span class="assertive">{{ Timeline.like_num }}</span>
                </span>
                <img ng-repeat="item in Timeline.author_like" ui-sref="hey-uhome({id: item.author.id})" style="vertical-align:middle; width:20px; height:20px; border-radius:50%; background-color:#ddd;" ng-src="{{ getPicUrl(item.author.avatar + '?imageView/2/w/80') }}">
            </div>
        </div>

        <div class="padding" ng-if="Timeline">
            <div class="">
                <img ui-sref="hey-uhome({id: Timeline.author.id})" style="position:absolute; width:30px; height:30px; border-radius:50%; background-color:#ddd;" ng-src="{{ getPicUrl(Timeline.author.avatar + '?imageView/2/w/80') }}">
                <div class="" style="margin-left:40px; padding-right:40px; padding-bottom:10px; width:100%; min-height:40px;">
                    <a ui-sref="hey-uhome({id: Timeline.author.id})" style="color:rgb(54, 74, 142)">{{ Timeline.author.nickname }}</a>
                    <small class="pull-right">{{ Timeline.created_at | momentDate: 'fromNow' }}</small>
                    <br>
                    {{ Timeline.content }}
                </div>
            </div>

            <div class="" ng-repeat="item in Timeline.comments | orderBy: '-created_at'">
                <img ui-sref="hey-uhome({id: item.author.id})" style="position:absolute; width:30px; height:30px; border-radius:50%; background-color:#ddd; margin-top:10px;" ng-src="{{ getPicUrl(item.author.avatar + '?imageView/2/w/80') }}">
                <div class="" style="border-top:1px solid #fff; margin-left:40px; padding:10px 40px 10px 0; width:100%; min-height:40px;">
                    <a ui-sref="hey-uhome({id: item.author.id})" style="color:rgb(54, 74, 142)">{{ item.author.nickname }}</a>
                    <small class="pull-right">{{ item.created_at | momentDate: 'fromNow' }}</small>
                    <br>
                    {{ item.content }}
                </div>
            </div>
        </div>
    </ion-content>

    <div ng-if="Timeline" class="list" style="position:absolute; bottom:0px; width:100%">
        <form name="ngForm" ng-submit="commentPublish()">
            <div style="positon:absoluted;" class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input ng-if="isAuth()" ng-model="TimelineComment.content" required ng-minlength="3" type="text" style="width:100%" placeholder="{{ 'SAY_SOMETHING' | translate }}">
                    <input ng-if="!isAuth()" ng-model="TimelineComment.content" required ng-minlength="3" type="text" style="width:100%" disabled placeholder="{{ 'PLEASE_SIGN_IN' | translate }}">
                </label>
                <button type="submit" ng-disabled="ngForm.$invalid" class="button button-small">{{ 'COMMENT' | translate }}</button>
            </div>
        </form>
    </div>
</ion-view>
