<ion-view cache-view="false"  view-title="{{ 'TIMELINE_DETAIL' | translate }}">
    <ion-nav-bar class="bar-positive bar-color-light nav-bar-container">
        <ion-nav-buttons side="left">
          <button ui-sref="hey.timeline" class="button back-button buttons  button-clear header-item" style="">
              <i class="icon ion-ios-arrow-back"></i> 
              <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"></span>
          </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content id="module-timeline">
        <div class="padding">
            <div>
                <a>Rod</a> 等人喜欢
            </div>

            <br>
            <div>
                Rod: this is amazing
            </div>
        </div>
        <br> <br> <br> <br> <br> <br>
    </ion-content>
</ion-view>
