page-topic-detail {
  ion-content {
    #section-topic {
      background-color: #fff;
    }

    h1.is-ios {
      padding-top: 1rem;
    }

    h2 {
      font-size: 2rem;
      margin-top: 3rem;
    }

    #section-topic {
      .content {
        font-size: 1.7rem;
        line-height: 2.4rem;
        color: #444;
      }
    }

    #section-comments {
      background-color: #fff;

      .item-comment {
      }

      hr {
        margin-top: 0;
        margin-bottom: 20px;
      }

      .content {
        font-size: 1.6rem;
        color: #555;
      }
    }

    //
    .item-comment {
      //
      .avatar {
        position: absolute;
        border-radius: 50%;
        background-color: #ddd;
        width: 36px;
        height: 36px;
      }

      .comment-content {
        margin-left: 46px;
        margin-bottom: 16px;
        border-bottom: 1px solid #eee;
        padding-bottom: 16px;

        .header {
          line-height: 20px;

          a {
            font-size: 16px;
          }

          .pull-right {
            button {
              height: 16px;
              line-height: 16px;
              padding: 0 2px;
              margin: 0;
              vertical-align: middle;

              ion-icon {
                height: 16px;
                line-height: 16px;
              }
            }
          }

          .line-1 {
            line-height: 18px;
          }

          .line-2 {
            margin-bottom: 4px;
          }
        }

        .footer {
          padding-top: 8px;
          margin-bottom: -10px;

          ion-col {
            padding-top: 0;
            padding-bottom: 0;

            button {
              margin-top: 0;
              margin-bottom: 0;
            }
          }

          .btns {
            padding-left: 0;

            ion-icon:first-of-type {
              padding-left: 0;
            }
          }

          .date {
            text-align: right;
            padding-right: 0;

            ion-note {
              line-height: 27px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: hidden;
              color: #999;
            }
          }
        }

      }

      //
      &:last-of-type .comment-content {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }


  //
  //
  ion-footer {
    ion-buttons {
      button {
        width: 3rem;
        margin: 0 1rem !important;
      }

      &.bar-buttons-ios {
        button {
          margin: 0 2px;

          &:first-of-type {
            margin-left: 0;
          }

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}
