page-me-notice {
  ion-content {
    //
    //
    #section-notices {
      ion-item {
        &.checked {
          opacity: 0.6;
        }

        .pic {
          height: 45px;
          max-width: 80px;
          overflow: hidden;
          margin-right: 0;
          line-height: 45px;

          img {
            vertical-align: middle;
          }
        }
      }
    }
  }
}
