<ion-view view-title="{{ 'ACTIVITY' | translate }}">
    <ion-nav-buttons side="right">
        <a class="button button-clear button-light icon ion-plus-round" href="#/activity-create">
        </a>
    </ion-nav-buttons>

    <ion-content id="module-activity" delegate-handle="contentScrollDelegate">
        <ion-refresher
            pulling-text="{{ 'PULL_TO_REFRESH' | translate }}"
            on-refresh="doRefresh()">
        </ion-refresher>

        <div ng-hide="activities" class="padding text-center">
            <ion-spinner></ion-spinner>
        </div>

        <div ng-if="activities && activities.length == 0" class="padding text-center">
            {{ 'INITIATING_AN_ACTIVITY' | translate }}
        </div>

        <div ng-if="activities && activities.length > 0" class="list">
            <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Near</div>
            <a href="#/activity-detail/{{ item.id }}" ng-repeat="item in activities" class="item item-activity item-thumbnail-left item-text-wrap">
                <img class="avatar" ng-src="{{ getPicUrl(item.avatar + '?imageView/2/w/200') }}">
                <h2 class="title">{{ item.title }}</h2>
                <p class="content" ng-bind-html="item.content | nl2br"></p>
            </a>
        </div>

        <ion-infinite-scroll
            on-infinite="loadMore()"
            immediate-check="false"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
