<ion-view view-title="{{ 'ACTIVITY' | translate }}" cache-view="false">
    <ion-content id="module-activity" delegate-handle="agendaScrollDelegate">
        <div class="list card">
            <div class="item item-avatar">
                <img ng-if="Activity" ng-src="{{ getPicUrl(Activity.avatar + '?imageView/2/w/80') }}" style="border-radius:2px;">
                <h2>{{ Activity.title }}</h2>
                <p>{{ Activity.created_at }}</p>
            </div>

            <div class="item item-body">
                <p style="margin-top:0;" ng-bind-html="Activity.content | nl2br">
                </p>
                <div>
                    <span class="pull-right">
                        <a ng-click="like()" class="subdued"><i class="icon ion ion-heart"></i> {{ Activity.like_num }}</a>
                        <a class="subdued"><i class="icon ion ion-chatboxes"></i> {{ Activity.comment_num }}</a>
                    </span>

                    <a class="subdued" ng-click="attend()">
                        {{ 'ATTEND' | translate }}
                        {{ Activity.attend_num }}
                    </a>
                </div>

                <div ng-if="attends.length" style="margin-top:10px;">
                    <img ng-repeat="item in attends | orderBy: '-created_at'" style="width:30px; height:30px; margin-right:5px; border-radius:50%;" ng-src="{{ getPicUrl(item.author.avatar + '?imageView/2/w/80') }}">
                </div>
            </div>

        </div>


        <!-- Comment -->
        <div class="list list-inset">
            <div class="item item-divider">
                {{ 'COMMENT' | translate }}
            </div>
            <form name="ngForm" ng-submit="commentPublish()">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" ng-model="ActivityComment.content" required placeholder="">
                    </label>
                    <button ng-disabled="ngForm.$invalid" type="submit" class="button button-small">
                        {{ 'PUBLISH' | translate }}
                    </button>
                </div>
            </form>
        </div>


        <!-- Comment Card -->
        <div class="card" ng-repeat="item in comments | orderBy: '-created_at'" style="margin-top:10px; margin-bottom:10px;">
            <div class="item item-text-wrap" style="padding:0">
                <div class="row">
                    <div class="col col-10">
                        <img style="width:100%" ng-src="{{ getPicUrl(item.author.avatar + '?imageView/2/w/80') }}">
                    </div>
                    <div class="col" ng-bind-html="item.content | nl2br">
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
