<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Me
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="me" class="page-me">
  <ion-list *ngIf="!auth.isAuth" padding-top>
    <button ion-item (click)="goToMeProfilePage()">
      <ion-avatar item-left>
        <img src="assets/images/userAvatar-default.png">
      </ion-avatar>

      <h2>Visitor</h2>
      <p>please login, first</p>
    </button>
  </ion-list>

  <ion-list *ngIf="auth.isAuth" padding-top>
    <button ion-item (click)="goToMeProfilePage()">
      <ion-avatar item-left>
        <img src="{{ auth.isAuth ? helper.getImg(auth.userInfo.avatar) : '' }}">
      </ion-avatar>

      <h2>{{ auth.userInfo.nickname }}</h2>
      <p>{{ auth.userInfo.bio ? auth.userInfo.bio : 'no bio' }}</p>
    </button>
  </ion-list>

  <ion-list>
    <button ion-item (click)="goToMeNoticePage()">
      <ion-icon name="notifications" item-left></ion-icon>
      Notices
      <ion-badge [hidden]="noticeService.notices.length <= 0" danger item-right>{{ noticeService.notices.length }}</ion-badge>
      <ion-badge [hidden]="noticeService.notices.length > 0" light item-right>0</ion-badge>
    </button>
    <button ion-item (click)="goToMeTimelinePage()">
      <ion-icon name="pulse" item-left></ion-icon>
      Timeline
    </button>
  </ion-list>

  <ion-list>
    <button ion-item (click)="goToMeSettingPage()">
      <ion-icon name="cog" item-left></ion-icon>
      Setting
    </button>
  </ion-list>
</ion-content>
