#me {
  //
  // me
  // ----------------------------------------
  &.page-me {
    ion-avatar img {
      max-width: 45px;
      max-height: 45px;
      width: 45px;
      height: 45px;
    }
  }



  //
  // notice
  // ----------------------------------------
  &.page-notice {
    ion-item {
      &.checked {
        opacity: 0.6;
      }

      .pic {
        height: 45px;
        max-width: 80px;
        overflow: hidden;
        margin-right: 0;
        line-height: 45px;

        img {
          vertical-align: middle;
        }
      }
    }
  }



  //
  // timeline
  // ----------------------------------------
  &.page-timeline {
    ion-card {
      width: 100%;
      margin: 0 0 12px 0;

      .header {
        .date {
          font-size: 14px;
          color: #bbb;
        }
      }

      hr {
        margin: 0;
      }

      .content {
        color: $textColorPrimary;
      }

      img.avatar {
        min-height: 36px;
        min-width: 36px;
        background-color: #ddd;
      }

      img.photo {
        width: 100%;
        background-color: #ddd;
      }

      .footer .date {
        text-align: right;
        padding-right: 13px;

        ion-note {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: hidden;
        }
      }
    }
  }



  //
  // update avatar
  // ----------------------------------------
  &.page-updateAvatar {
    .avatar {
       margin-top: 40px;
    }
  }
}

