page-firend-add {
  ion-header {
    ion-navbar {
      ion-title {
        padding: 0 40px 1px !important;
        .toolbar-title {
          text-align: left !important;
        }
      }
    }
  }
  ion-content {
    ion-searchbar{
      .searchbar-input-container{
        padding: 10px 0;
        .searchbar-search-icon{
          margin-top: 12px;
        }
        .searchbar-input {
          border-radius: 0;
        }
      }
    }
    ion-item {
      .massage {
        color: #b2b2b2;
      }
    }
    #section-add-types {
      .fa {
        border-radius: 50%;
        padding: 1rem;
        margin-right: 20px;
        color: #fff;
      }

      .fa-wechat {
        background-color: #30A20D;
      }

      .fa-qq {
        background-color: #3382F9;
      }

      .fa-address-book {
        background-color: #404040;
      }
    }
  }
}
